<footer id="nlp-footer" [ngStyle]="customStyle">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-12">
        <div class="row">
          <div class="col-sm-3 col-6 text-center text-sm-left">
            <h6 class="mb-2 mb-md-4">Homeowner</h6>
            <ul>
              <li><a href="javascript:void(0)" (click)="PostJob()">Post A Task</a></li>
              <li><a href="/ContactUs" target="_blank">Contact Us</a></li>
              <li><a href="/HWUser/Home/UserFAQs" target="_blank">Help & FAQ</a></li>
              <li><a href="/User/Agrements/UserAgreement" target="_blank">User Agreement</a></li>
              <li><a href="/HWUser/Home/PrivacyPolicy" target="_blank">User Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-3 col-6 text-center text-sm-left">
            <h6 class="mb-2 mb-md-4">Tradesman</h6>
            <ul>
              <li><a href="/landing-page/liveleads" target="_blank">Live leads</a></li>
              <li><a href="/ContactUs" target="_blank">Contact Us</a></li>
              <li><a href="/HWUser/Home/TradesmanFAQs" target="_blank">Help & FAQ</a></li>
              <li><a href="/User/Agrements/TradesmanAgreement" target="_blank">Tradesman Agreement</a></li>
              <li><a href="/HWUser/Home/PrivacyPolicy" target="_blank">Tradesman Privacy Policy</a></li>
            </ul>
          </div>
          <div class="mt-4 mt-sm-0 col-sm-3 col-6 text-center text-sm-left">
            <h6 class="mb-2 mb-md-4">Follow us on</h6>
            <ul>
              <li><a href="https://web.facebook.com/hoomwork.pk/?_rdc=1&_rdr" target="_blank"><i class="mr-2 fab fa-facebook"></i>Facebook</a></li>
              <li><a href="https://www.linkedin.com/company/hoomwork/" target="_blank"><i class="mr-2 fab fa-linkedin"></i>Linkedin</a></li>
              <li><a href="https://twitter.com/hoomworkpk/" target="_blank"><i class="mr-2 fab fa-twitter"></i>Twitter</a></li>
              <li><a href="https://www.youtube.com/channel/UCcQyjWuLSXNXL9olWUb7-MQ?view_as=subscriber" target="_blank"><i class="mr-2 fab fa-youtube"></i>Youtube</a></li>
            </ul>
          </div>
          <div class="mt-4 mt-sm-0 col-sm-3 col-6 text-center text-sm-left">
            <h6 class="mb-2 mb-md-4">Our Advertisements</h6>
            <ul>
              <li><a [routerLink]="[this.common.apiUrls.UserManagement.GetPromotionList]">Featured Promotions</a></li>
              <li><a [routerLink]="[this.common.apiUrls.UserManagement.GetCampaignList]" [queryParams]="{id:2}">Featured Ads</a></li>
              <!--<li><a href="/promotions/promotionlist" target="_blank">Featured Promotions</a></li>-->
              <!--<li><a href="/promotions/campaignlist" >Featured Ads</a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<div class="text-center py-2 nlp-cr" style="background: var(--greenClr)">
  <p style="color:var(--whiteClr)">
    Copyright &copy; www.hoomwork.com. All rights Reserved. Privacy Policy
  </p>
</div>

