
<div class="container-fluid">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div id="page-wrapper">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 bg-white">
            <div class="row">
              <div class="col-lg-10 col-md-8">
                <div class="row">
                  <nav aria-label="breadcrumb" hidden>
                    <ol class="breadcrumb">
                      <!--<li class="breadcrumb-item"><a href="@Url.Action(" Index","Home")">Home</a></li>
                      <li class="breadcrumb-item"><a href="@Url.Action(" Blogs","Home")">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page" hidden>50001</li>-->
                    </ol>
                  </nav>
                </div>
              </div>
              <!--@*<div class="col-lg-2 col-md-4 search-container">
                <form class="row">
                  <input class="form-control" type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>*@-->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!--heading-->
        <div class="row mt-3 blog-detail p-2">
          <!-- Post Content Column -->
          <div class="col-lg-8">
            <!-- Preview Image -->
            <div class="col-lg-12 blog-img">
              <div class="row">
                <img class="card-img-top" src="../../../../assets/img/howtosell.png" alt="Card image cap">
              </div>
            </div>
            <!-- Date/Time -->
            <div class="card-footer text-muted border-bottom">
              <span><i class="fas fa-eye"></i> Views: 50 </span>
              <span>{{common.ArticleDate}}<a href="#">Admin</a></span>
            </div>
            <!-- Post Content -->
            <h2>Are you a new supplier? Not sure where to start?</h2>

            <p>Here’s what you need to know!</p>
            <p>According to studies, it is estimated that by the end of 2020, the global online shopping market size will hit 4 trillion. Likewise, by the year 2040, it can be estimated that 95 percent of purchases will take place through e-business. Such a huge number indicates that nearly 91% of our total population will prefer making a purchase online. Which is why the brands need to go online.</p>
            
            <p>
              But that doesn’t mean, they can join any portal. Instead, they should join a competent platform that boosts business, unlock growth and visibility online without spending too much. Hoomwork allows sellers to raise sales and profits with very little effort. It connects homeowners with suppliers and brings them to one single platform.
            </p>

            <h2>Steps to Follow;</h2>
            <ul>
              <li>Set up a seller account </li>
              <li>After setting up, confirm your identity to login with Hoomwork</li>
              <li>After a successful login, create Ad listing by simply clicking at ‘Post New Ad’ on the homepage</li>
              <li>Do categorization of products (create parent categories and sub-categories to make buying easy and as per customer convenience)</li>
              <li>Create more effective, creative Ads. (Use powerful headlines, add catchy titles, highquality images, video descriptions, and price your product, add CTA to commit your client, local contact details, operating hours, shipment methods, gifs, and much more.</li>
              <li>Post unlimited classified ads for free </li>
              <li>Manage published Ads. Preview, edit, modify or remove unwanted ads, ad campaigns, ad sets of your choice</li>
            </ul>
            <p>No matter what size your business is or what industry it belongs to. Once you create a solid, professional, online presence which is the most crucial component of any business marketing strategy, with a renowned business platform, it becomes easy to attract a large segment, achieve the desired growth targets and become a market leader of your industry with the least budget.</p>
            <p>
              According to research conducted by Google, almost 97% of consumers use the web to search for local businesses. So if such a vast majority of the potential customers are online. It is time that you should create a strong online presence with Hoomwork too.
            </p>
            <p>Today, proprietors are bringing both, style and comfort to the home. That is why they go for sites that offer them a limitless collection of products. Hoomwork helps merchants nurture a good, improved relationship with customers. They can simply take advantage of their product, preserve originality through high-quality images, displaying total prices, popular items, listing policies, and procedures, send invoices, provide packaging, and offering the shipping facility. These perquisites are amongst the top five perks that influence consumer purchasing choice. On this subject, a study carried out that offering the lowest prices, enhanced delivery, easy return policies, payment options, inventory availability, and product information, influences the consumer buying decision.</p>
            <p>When a brand exercises such as value-added practices, it helps a product distinguish and build your brand like an Olympic Champ! When all is said and done, download Hoomwork Supplier App now, it is the right choice for advertising your product and occupy a large space in your customer's mind.</p>
            <div hidden>
              <!-- Comments Form -->
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
              <!-- Single Comment -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl1.jpg" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
              <!-- Comment with nested comments -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl2.jpg" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                  <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl3.jpg" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">Commenter Name c</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                  <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl4.jpg" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">Commenter Name c</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card mb-4 d-none">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Categories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.TradesmanApp.HW">Tradesman</a>
                      </li>
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.SupplierApp.HW">Supplier</a>
                      </li>
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.User.HW">User</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
