<div class="container-fluid">
  <div class="row">
    <div id="page-wrapper">
      <div class="col-lg-12 mb-3">
        <div class="row">
          <div class="col-lg-12 bg-white">
            <div class="row page-header">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-9 col-md-8">
                    <div class="row">
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active" aria-current="page"><h3><strong>Home</strong></h3></li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4">
                    <div class="row text-right d-block"><button type="button" class="btn btn-primary">Post Ad</button></div>
                  </div>
                </div>
              </div><!-- /.col-lg-12 -->
            </div><!--heading-->
            <div class="supplierhome mt-5">
              <div id="living" class="carousel slide" data-ride="carousel">
                <!--Controls-->
                <div class="controls-top">
                  <a class="btn btn-success btn-floating" href="#living" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                  <a class="btn btn-success btn-floating" href="#living" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <!--/.Controls-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                  <div class="row">
                    <!--First slide-->
                    <div class="carousel-item active">
                      <div class="col-md-4">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/living.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">living </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/homedecor.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Homedecor</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/bedroom.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Bedroom</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/.First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                      <div class="col-md-4">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/lighting.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">lighting </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/kitchenanddining.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Kitchen and dining </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/organization.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Organization</p>
                          </div>
                        </div>
                      </div>

                    </div>
                    <!--/.Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/bathroom.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Bathroom</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/garden.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Garden</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/furniture.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Furniture</p>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="carousel-item">
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/appliances.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Appliances</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/hardware.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Hardware</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/paint.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Paint</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/plumbing.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Plumbing</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/buildingmaterials.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Building Materials</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/smallappliances.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Small Appliances</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/electricianWork.png"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Electrician Work</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/heatingventingcooling.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">Heating venting cooling</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card mb-2">
                          <img class="card-img-top" src="../../../assets/img/more.jpg"
                               alt="Card image cap">
                          <div class="card-body">
                            <p class="card-text">more</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.Slides-->
                </div>
              </div>
            </div>
            <div class="supplierhome-blog">
              <div class="card">
                <div class="card-body row">
                  <div class="col-md-12 form-group"><h4>How Do You Sell A Product Effectively?</h4></div>
                  <div class="col-md-3 form-group">
                    <div class="hw-logo-img card  text-center"><img src="../../../assets/img/Hoomwork-logo.png" alt="HoomWork" width="100" /></div>
                  </div>
                  <div class="col-md-9 form-group my-auto">
                    <p>
                      Our essential tips can help you to sell product effectively. We connect seller with buyer globally.
                    </p>
                    <p class="text-right"><a routerLink="/Supplier/Home/Blogs">Read more <i class="fa fa-chevron-right"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row bg-light supplier-heading"><div class="col-md-12"><h3>Articals</h3></div></div>
            <div class="supplierhome ">
              <!--Carousel Wrapper-->
              <div id="demanded-items">
                <!--Controls-->
                <!--/.Controls-->
                <!--Slides-->
                <div class="row artical">

                  <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <a href="javascript:void(0)" (click)="Blogs('BlogDetails')"><img class="card-img-top" src="../../../assets/img/supplierarticles.jpg" alt=""></a>
                      <div class="card-body">
                        <h5 class="card-title">How our service works</h5>
                        <!--<h6 class="card-subtitle mb-2 text-muted">Position</h6>-->
                        <p class="card-text">HoomWork connects homeowners with local tradespeople. Hiring a tradesperson has never been so easy!</p>
                      </div>
                      <div class="card-footer text-muted">
                        <span>Posted: 1 Jan, 2017 by <a>Admin</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <a href="javascript:void(0)" (click)="Blogs('BlogDetails1')"><img class="card-img-top" src="../../../assets/img/pro-dtl2.jpg" alt=""></a>
                      <div class="card-body">
                        <h5 class="card-title">7 Ways to Add Value to your Home</h5>
                        <!--<h6 class="card-subtitle mb-2 text-muted">Position</h6>-->
                        <p class="card-text">
                          If you are looking to sell, then taking care of major structural issues such as
                          a damage front or persistent damp issues is a necessary step to making it sale-worthy
                          but they’re not issues that you’ll want to live with for any length of time either.
                        </p>
                      </div>
                      <div class="card-footer text-muted">
                        <span>Posted: 1 Jan, 2017 by <a>Admin</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <a href="javascript:void(0)" (click)="Blogs('BlogDetails2')"><img class="card-img-top" src="../../../assets/img/slide10.jpg" alt=""></a>
                      <div class="card-body">
                        <h5 class="card-title">Having the builders in...</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">
                          One of the most stressful times of your life! But it doesn't have to be...
                          Having builders in ranks as one of the most stressful times of your life almost half the population say it’s as stressful
                          as arranging a wedding or buying a house.
                        </p>
                      </div>
                      <div class="card-footer text-muted">
                        <span>Posted: 1 Jan, 2017 by <a>Admin</a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
