<div class="container body-paging">
  <div class="col-lg-12 bg-white">
    <div class="row page-header">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-10 col-md-8">
            <div class="row">
              <nav aria-label="breadcrumb" hidden>
                <ol class="breadcrumb">
                  <!--@*
                  <li class="breadcrumb-item"><a href="default.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Agrement</li>*@-->
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 search-container">
            &nbsp;
          </div>
        </div>
      </div><!-- /.col-lg-12 -->
    </div><!--heading-->
    <div class="row user-agrement">
      <div class="col-md-12">
        <h4>Homeowner user Agreement</h4>
        <p>
          Thank you for accessing our Service at <a href="https://www.hoomwork.com/">HoomWork</a> or through the hoomwork application on your mobile device. This homeowner agreement explains you the terms of use on which you may make use of our service “HoomWork” at web & mobile application, whether as a guest or a registered homeowner. Use of our service includes accessing, browsing, or registering to use our site. By clicking ‘Get free quotes or marketplace’, you are requesting us to provide the Service as soon as practically possible.
          Please read these terms of use carefully before you start to use our site & APP, as these will apply to your use of our site & APP. We recommend that you print a copy of this for future reference.
          By using our site & APP, you confirm that you accept these terms of use and that you agree to comply with them.
          If you do not agree to these terms of use, you must not use our site.
        </p>
        <br />
        <h5>1) Governing Law & Jurisdiction</h5>
        <p>
          These Terms and Conditions shall be governed by and construed in accordance with Pakistani law. Disputes arising in connection with these Terms and Conditions shall be subject to the exclusive jurisdiction of the Pakistani courts.
          If any provisions hereof are held to be illegal or unenforceable such provisions shall be severed, and the remainder of this Agreement shall remain in full force and effect unless the business purpose of this Agreement is substantially frustrated thereby.
        </p>
        <br />
        <h5>2) Information about us</h5>
        <p>
          We “ONLINE HOME PLANNER (PRIVATE) LIMITED” are a Limited company. Our registered company number is 5264975 and our registered office is 441-Q, Iqra St, Model Town, Lahore 54700, Pakistan. Where we refer to ourselves in this Agreement, this is also taken to include our group companies, affiliates, and or their employees, associated and contracted persons, and persons supplying services to us or them. You can contact us via our online contact form.
          Where we refer to you in this Agreement, this also includes any person that accesses or uses our Service on your behalf. The “Agreement” includes the terms set out here and the Privacy Policy as made available via the internet and/or our “Apps” from time to time.
          Our “Apps” are the HoomWork ‘Find a professional’  HoomWork ‘Supplier’ Hoomwork ‘ Tradesman ‘and any other application that we release (each as modified and/or updated by us from time to time).
          Any person using the Service to promote their services or products (except us) shall be a “Trade Business partner“. As part of receiving the Service, you may from time to time upload information to the Service.
        </p>
        <br />
        <h5>3) Content</h5>
        <p>
          You agree to use the website & APP only for lawful purposes and in a way that does not infringe the rights of or restrict or inhibit anyone else's use and enjoyment of the website. Messages, profiles, job descriptions and other content must be civil and tasteful.
          Some of the material on the Service “Get a free quotes” originates from our homeowners, and we rely on Homeowners to accurately describe their requirements for any projects for which they invite tenders from Trade Businesses through the Service (“Projects“). We have little or no editorial control over the material and we, therefore, cannot guarantee the accuracy, timeliness, completeness, performance or fitness for any particular purpose of the material available through the Service. We cannot accept responsibility for errors, omissions, or inaccurate material available through the Service, and make no warranty that the Service will be uninterrupted or error-free, or that any defects will be corrected.
          You understand that all postings, messages, text, files, images, photos, videos, sounds, or other materials ("content") posted on, transmitted through, or linked from HoomWork, are the sole responsibility of the person from whom such content originated. You are entirely responsible for all content that you post, email or otherwise make available via the Service.
          You acknowledge that HoomWork does not pre-screen or approve all content, but that HoomWork shall have the right (but not the obligation) in its sole discretion to remove or move any content that is available on the website for violating the letter or spirit of the terms or for any other reason.
          Marketplace displays Ads of products & material from various suppliers. These third parties’ business sellers offer products or materials that may be useful or of interest to you. Our suppliers are carefully selected reputable organizations. Such organizations may include other retailers and magazine publishers. We do not review suppliers' postings and are not involved in the actual transactions between homeowners. we do not guarantee the accuracy of postings or homeowner communications or the quality, safety, or legality of what's offered.
        </p>
        <br />
        <h5>4) Homeowner Content standards</h5>
        <p>
          You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any contribution as well as to its whole.
        </p>
        <p>Contributions must:</p>
        <ul>
          <li>Be accurate (where they state facts);</li>
          <li>Be genuinely held (where they state opinions); </li>
          <li>Comply with applicable law in Pakistan and in any country from which they are </li>
        </ul>

        <p>Posted. Contributions must not: </p>

        <ul>
          <li>Contain any material which is defamatory of any person; </li>
          <li>Contain any material which is obscene, offensive, hateful or inflammatory;  </li>
          <li>Contain any material from which you have not obtained all necessary licences and/or approvals;  </li>
          <li>Promote sexually explicit material; </li>
          <li>Promote violence; </li>
          <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;</li>
          <li>Infringe any copyright, database right or trademark of any other person;  </li>
          <li>Be likely to deceive any person; </li>
          <li>Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence; </li>
          <li>Promote any illegal activity; </li>
          <li>Be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety; </li>
          <li>Be likely to harass, upset, embarrass, alarm or annoy any other person; </li>
          <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person;  </li>
          <li>Give the impression that they emanate from us if this is not the case;</li>
          <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse. </li>
        </ul>

        <p>You agree that you will comply with the <a href="https://www.hoomwork.com/Common/PrivacyPolicy">Privacy Policy.</a></p>

        <br />
        <h5>5) Payment Terms</h5>
        <p>This section sets out our fees and payment terms for the HoomWork Service which should be read in conjunction with our <a href="https://www.hoomwork.com/HWUser/Home/UserAgreement">Homeowner Agreement</a> and <a href="https://www.hoomwork.com/Common/PrivacyPolicy">Privacy Policy</a>.</p>
        <p>5.1  You are responsible for paying all applicable charges directly to tradesman when they are due. HoomWork is not responsible for any payment terms. </p>

        <br />
        <h5>6) Marketplace</h5>
        <p>Marketplace is an online shopping portal for homeowners. Homeowners can view and buy things such as building materials and homeware. </p>

        <h6>6.1) No warranties provided</h6>

        <p>HoomWork does not own marketplace products. Marketplace is a platform for suppliers to display their products. They are all carefully chosen and have their own Ad listing guidelines. Product suppliers are solely responsible for listing/Ad description, images, video and other contents. HoomWork does not hold any responsibility of posted listing. Thus, no warranties are given from HoomWork for listed products.<a href="#"> See our Guidelines to buy better. </a></p>

        <h6>6.2) Buyer & supplier Payment method:</h6>

        <ul>
          <li>HoomWork  does not offer a payment gateway and shopping cart to users. </li>
          <li>Buyer and sellers decide payment method and arranges accordingly. </li>
          <li>HoomWork is not responsible for any non-payment and related disputes. </li>
        </ul>
        <h6>6.3) Buyer & supplier delivery method:</h6>
        <p>Buyers are responsible to arrange product shipping, packaging, and handling with sellers.</p>

        <br />
        <h5>7) Limitation of our liability</h5>

        <p>
          You are responsible for ensuring that you are legally entitled to publish any information which you upload. You may not invite tenders for any Project which is not legal.
          It is your responsibility to select a suitable Trade Business and to negotiate the terms of any Project to be performed by the Trade Business selected. We do not guarantee any specific Trade Business’s information, accreditation, or registration. We make no warranty regarding any goods or services purchased or obtained through listing a Project on the Service or any transactions entered into through the Service, and you should in all cases make your own enquiries. In particular, it is your responsibility to carry out appropriate checks.
          HoomWork excludes or limits any liability for death or personal injury arising from tradesman negligence, or fraud or fraudulent misrepresentation, or any other liability.
          To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether expressed or implied.
          We will not be liable to any homeowner for any loss or damage, theft whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
        </p>

        <ul>
          <li>(a) use of, or inability to use our site; </li>
          <li>(b) use of or reliance on any content displayed on our site; </li>
          <li>(c) any works that you have done by any tradesperson who contact you as a result of a job posted on our site. </li>
        </ul>
        <p>
          Please note that our site is designed for use by domestic households and private individuals. You agree that in the event you use it for any commercial or business purpose that in addition to the exclusions contained above, we shall have no liability to you for any loss of profits, loss of business, business interruption, or loss of business opportunity.
          We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.
          We do not review homeowners' postings and are not involved in the actual transactions between homeowners.
          In no event do we accept liability of any description for the posting of any unlawful, threatening, abusive, defamatory, obscene or indecent information, or material of any kind which violates or infringes upon the rights of any other person, including without limitation any transmissions constituting or encouraging conduct that would constitute a criminal offence, give rise to civil liability or otherwise violate any applicable law.
          We assume no responsibility for the content of the websites linked on our site. Such links should not be interpreted as an endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.
        </p>

        <br />
        <h5>8) Intellectual property rights</h5>
        <p>
          HoomWork owns all the intellectual property rights relating to the site, including the design, text, database, graphics and layouts, and you agree not to use or copy any part thereof without our express permission.
          The intellectual property rights on postings, messages, text, files, images, photos, videos, sounds, or other materials ("content") Homeowners upload to HoomWork are retained by the copyright owner, and these are added to the site by Homeowners at their own risk. In doing so you are giving expressed and irrevocable permission for us to store, display and use the content.
        </p>
        <br />
        <h5>9) Our Rights</h5>
        <p>
          We reserve the right at all times to edit, refuse to post, or to remove from the Service any information or materials for any reason whatsoever, and to disclose any information we deem appropriate to satisfy any applicable law, regulation, legal process, police request or governmental request.
          We reserve the right to terminate the provision to you of the Service or restrict your access to the Service at any time without notice for any reason whatsoever
        </p>

      </div>
    </div>
  </div>
</div>

