<body class="text-center signin-body">
  <form class="form-signin card pt-0" [formGroup]="appValForm">
    <div class="row mb-2"><div class="form-header col-md-12"><img src="/assets/img/signin-logo.png" alt="" width="50"></div></div>
    <div class="form-body p-3">
      <p class="text-muted small">Please enter your new password.</p>

      <div *ngIf="submittedApplicationForm && unauthorizeduser" class="text-danger small">
        <div><p>{{unauthorizedErrorMessage}}<p></div>
      </div>

      <label for="inputEmail" class="sr-only">Password</label>
      <input type="password" id="inputuserID" class="form-control" [ngClass]="{'is-invalid' : submittedApplicationForm && f.passwords.errors}" formControlName="passwords" placeholder="Password">
      <div *ngIf="submittedApplicationForm && appValForm.controls.passwords.errors" class="invalid-feedback">
        <div *ngIf="appValForm.controls.passwords.errors.required">{{passwordErrorMessage}}</div>
      </div>

      <label for="inputPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="inputPassword" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid' : submittedApplicationForm && f.confirmPassword.errors}" placeholder="Confirm Password" required>
      <div *ngIf="submittedApplicationForm && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">{{confirmPasswordErrorMessage}}</div>
      </div>
      <label for="inputPassword" class="sr-only d-none">Password</label>
      <button class="btn btn-lg btn-primary btn-block" (click)="resetPassword()" type="submit">Submit</button>
    </div>
  </form>
</body>
