
  <section class="section-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 user-header">
          <div class="user-image">
            <img src="img/user.png" alt="...">
          </div>
          <h4>User Name</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 sidebar-list">
          <ul class="list-group">
            <li class="list-group-item">
              <p><i class="fas fa-phone-alt mr-2"></i>+92-042-3591-6441</p>
              <p><i class="fas fa-envelope mr-2"></i>info@hoomwork.com</p>
            </li>
            <li class="list-group-item">
              <h5>Signup Date</h5>
              <p>24 APL 2020</p>
            </li>
            <li class="list-group-item">
              <h5>Address</h5>
              <p><i class="fas fa-map-marker-alt mr-2"></i>441-Q, Iqra Street, Model Town, Lahore 54700, Pakistan</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 col-md-8 user-penal">
          <ul class="nav nav-tabs">
            <li><a class="active" data-toggle="tab" href="#jobInfo">Job Information</a></li>
            <li><a data-toggle="tab" href="#receivedBid">Received Bids</a></li>
            <li><a data-toggle="tab" href="#notifi">Notifications</a></li>
          </ul>
          <div class="tab-content">
            <div id="jobInfo" class="tab-pane fade in active show">
              <form class="row">
                <div class="col-lg-12 form-group">
                  <label for="tital">Tital</label>
                  <input type="text" class="form-control" id="tital" placeholder="Enter Tital">
                </div>
                <div class="col-lg-6 form-group">
                  <label for="category">Category</label>
                  <input type="text" class="form-control" id="category" placeholder="Enter Category">
                </div>
                <div class="col-lg-6 form-group">
                  <label for="sebcategory">Sub Category</label>
                  <input type="text" class="form-control" id="sebcategory" placeholder="Enter Sub Category">
                </div>
                <div class="col-lg-12 form-group">
                  <label for="jobDescription">Job Description</label>
                  <textarea class="form-control" id="jobDescription" rows="3"></textarea>
                </div>
                <div class="col-lg-4 form-group">
                  <label for="exampleInputEmail1">Budget</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-lg-4 form-group">
                  <label for="exampleInputEmail1">Job Start Date</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-lg-4 form-group">
                  <label for="exampleInputEmail1">Job Start Time</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-lg-12">
                  <label for="jobAddress">Job Address</label>
                  <textarea class="form-control" id="jobAddress" rows="3"></textarea>
                </div>
              </form>
            </div>
            <div id="receivedBid" class="tab-pane fade">
              <div class="table-responsive">
                <table class="table">
                  <caption>List of users</caption>
                  <thead>
                    <tr>
                      <th>Tradesman Name</th>
                      <th>Category</th>
                      <th>Bid Date & Time</th>
                      <th>Bid Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>Jamal Ahmad</th>
                      <td>Plumber</td>
                      <td>15 Mar 2020</td>
                      <td class="text-success">Active</td>
                    </tr>
                    <tr>
                      <th>Jamal Ahmad</th>
                      <td>Plumber</td>
                      <td>15 Mar 2020</td>
                      <td class="text-danger">Rejected</td>
                    </tr>
                    <tr>
                      <th>Jamal Ahmad</th>
                      <td>Plumber</td>
                      <td>15 Mar 2020</td>
                      <td class="text-success">Accepted</td>
                    </tr>
                    <tr>
                      <th>Jamal Ahmad</th>
                      <td>Plumber</td>
                      <td>15 Mar 2020</td>
                      <td class="text-success">Accepted</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="notifi" class="tab-pane fade">
              <div class="notifi-container">
                <div class="row notifi-row">
                  <div class="col-lg-1 col-md-2 user-thumb"><img src="img/user.png" alt="..."></div>
                  <div class="col-lg-11 col-md-10 userNotiDtl">
                    <p>Nawaz Shareef send you a call back request</p>
                    <p>5 Hrs.</p>
                  </div>
                </div>
                <div class="row notifi-row">
                  <div class="col-lg-1 col-md-2 user-thumb"><img src="img/user.png" alt="..."></div>
                  <div class="col-lg-11 col-md-10 userNotiDtl">
                    <p>Nawaz Shareef send you a call back request</p>
                    <p>5 Hrs.</p>
                  </div>
                </div>
                <div class="row notifi-row">
                  <div class="col-lg-1 col-md-2 user-thumb"><img src="img/user.png" alt="..."></div>
                  <div class="col-lg-11 col-md-10 userNotiDtl">
                    <p>Nawaz Shareef send you a call back request</p>
                    <p>5 Hrs.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Quick Register -->
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 form-group">
          <h5>hoomowners</h5>
          <ul class=" list-unstyled">
            <li><a href="">Create a Job</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Help & FAQ</a></li>
            <li><a href="">User Agrement</a></li>
          </ul>
        </div>
        <div class="col-md-3 form-group">
          <h5>Tradesman</h5>
          <ul class=" list-unstyled">
            <li><a href="">Create a Job</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Help & FAQ</a></li>
            <li><a href="">User Agrement</a></li>
          </ul>
        </div>
        <div class="col-md-3 form-group">
          <h5>Supplier</h5>
          <ul class=" list-unstyled">
            <li><a href="">Create a Job</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Help & FAQ</a></li>
            <li><a href="">User Agrement</a></li>
          </ul>
        </div>
        <div class="col-md-3 form-group">
          <h5>Follow us on</h5>
          <ul class=" list-unstyled">
            <li><a href=""><i class="mr-2 fab fa-facebook-square"></i>Facebook</a></li>
            <li><a href=""><i class="mr-2 fab fa-linkedin"></i>Linkedin</a></li>
            <li><a href=""><i class="mr-2 fab fa-twitter-square"></i>Twitter</a></li>
            <li><a href=""><i class="mr-2 fab fa-youtube-square"></i>Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container copyright">
      Copyright &copy; www.hoomwork.com. All rights Reserved. Privacy Policy
    </div>
  </footer>
