<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
        <div class="card-header justify-header">
          <h6 class="m-0 font-weight-bold">Coupon Type List</h6>
          <button (click)="showModal(content)" class="btn-sm btn btn-secondary btn-sm"><i class="fa fa-plus"></i> Add New Coupon</button>

        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th width="8%">Coupon Type Name</th>
                  <th width="4%">Coupon Code</th>
                  <th width="4%">Entity Status</th>
                  <th width="6%" title="Created Date">CD</th>
                  <th width="6%" title="Created By">CB</th>
                  <th width="6%" title="Modified Date">MD</th>
                  <th width="6%" title="Modified By">MB</th>
                  <th width="1%">Edit</th>
                  <th title="Delete" width="1%">Del</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list  of packagesList">
                  <!--<td>{{list.packageId}}</td>-->
                  <td>{{list.couponTypeName}}</td>
                  <td>{{list.couponTypeCode}}</td>
                  <td *ngIf="list.entityStatus == '1' ">Active</td>
                  <td *ngIf="list.entityStatus == '2'">InActive</td>
                  <td *ngIf="list.entityStatus == '3'">Discontinue</td>
                  <!--  <td>{{list.isActive}}</td>-->
                  <!--<td>{{list.tradePrice}}</td>
                  <td>{{list.salePrice}}</td>
                  <td>{{list.validityDays}}</td>
                  <td>{{list.totalApplicableJobs}}</td>
                  <td>{{list.totalCategories}}</td>-->
                  <td>{{list.createdDate | date: "dd MMM yyy "}}</td>
                                  
                  <td>{{list.createdBy}} </td>
                  <td>{{list.updatedDate | date: "dd MMM yyy "}} </td>
                  <td>{{list.updatedBy}}</td>
                  <td><i class="text-info fa fa-pencil-alt" (click)="updatePackages(list , content)"></i></td>
                  <td><i class="text-danger fa fa-trash-alt" (click)="deletepackage(list , deleteContent)"></i></td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>
  </div>
  <ng-template #deleteContent let-modal>
    <!--  -->
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Delete Confirmation</h5>
    </div>
    <div class="modal-body">
      <h5>Are you want to delete?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary" (click)="confirmDeletePackage()">Ok</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="modal.close('cancel click')">Cancel</button>
    </div>
  </ng-template>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Add New Coupon Type</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="pkgForm" (submit)="save()">
        <input type="hidden" formControlName="CouponTypeId" />
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="fs-12">Coupon Type Name</label>
              <input type="text" class="form-control" formControlName="CouponTypeName" maxlength="60" />
              <div *ngIf="f.CouponTypeName?.errors">
                <div *ngIf="f.CouponTypeName.invalid && submited">
                  <small *ngIf="f.CouponTypeName.errors?.required" class="text-danger">Name is requried</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fs-12">Coupon Type Code</label>
              <input type="text" class="form-control" formControlName="CouponTypeCode" maxlength="10"/>
              <div *ngIf="f.CouponTypeCode?.errors">
                <div *ngIf="f.CouponTypeCode.invalid && submited ">
                  <small *ngIf="f.CouponTypeCode.errors?.required" class="text-danger">Code is requried</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fs-12">Entity Status</label>
              <select class="form-control" formControlName="entityStatus">
                <option [value]="1">Active</option>
                <option [value]="2">InActive</option>
                <option [value]="3">Discontinue</option>

              </select>
              <div *ngIf="f.entityStatus?.errors">
                <div *ngIf="f.entityStatus.invalid && submited">
                  <small *ngIf="f.entityStatus.errors?.required" class="text-danger">Entity status is requried</small>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-primary mr-2">Save</button>
          <button type="reset" class="btn btn-sm btn-primary" (click)="resetForm()">Reset</button>
          <button type="submit" class="btn btn-primary btn-sm" (click)="modal.close('Save click')">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
