 <!-------------------------------------------- New Theme forgot Password code Desing ---------------------------------------------------------------------->

<div class="container pt-2 pt-sm-3 pt-lg-5">
  <div class="nd-sign-iu">
    <div class="row mt-2 pt-2 mt-sm-3 pt-sm-3 mt-lg-5 pt-lg-5 justify-content-center">
      <div class="col-12 col-sm-10 col-md-9 col-lg-6 col-xl-5 ">
        <div class="rs-content quotes-details">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-2 mb-md-2 mb-lg-4">Forgot Pin Code?</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a class="mb-1 mb-sm-1 mb-md-1 mb-lg-2 text-right d-block text-warning" (click)="ResendOtpCode()">Didn't get a code?</a>
            </div>
          </div>
          <form [formGroup]="appValForm">
            <div class="row no-gutters">
              <div class="col-12">
                <div class="form-group ">
                  <label for="inputmobile" class="sr-only">Code</label>
                  <input type="text" id="verficationcode" formControlName="verficationcode" inputmode="numeric" maxlength="6" [ngClass]="{'is-invalid':submitted &&  f.verficationcode.errors }" (keypress)="numberOnly($event)" name="verficationcode" class="form-control" placeholder="xxxxxx">
                  <div *ngIf="f.verficationcode.errors" class="invalid-feedback">
                    <label class="text-danger" *ngIf=" f.verficationcode.errors?.required && submitted">Please enter verification code</label>
                    <!-- <label class="text-danger" *ngIf="submitted && f.verficationcode.errors?.maxLength">Input allows only number</label>-->
                  </div>
                  <div *ngIf="incorrectcode && !f.verficationcode.errors">
                    <label class="text-danger">Code is incorrect.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3 mt-md-2 submit-btn ">
              <div class="col-12 mb-3">
                <button class="mp-outine-btn btn-block py-3" type="button" (click)="VerifyForgotOtpAndResetPassword()">verify</button>
              </div>
              <div class="col-12">
                <button class="mp-outine-btn btn-block py-3" type="button" (click)="Cancel()" >cancel</button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>

