<div class="container-fluid">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div id="page-wrapper">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 bg-white">
            <div class="row">
              <div class="col-lg-10 col-md-8">
                <div class="row">
                  <nav aria-label="breadcrumb" hidden>
                    <ol class="breadcrumb">
                      <!--<li class="breadcrumb-item"><a href="@Url.Action(" Index","Home")">Home</a></li>
                      <li class="breadcrumb-item"><a href="@Url.Action(" Blogs","Home")">Blog</a></li>
                      <li class="breadcrumb-item active" aria-current="page" hidden>50001</li>-->
                    </ol>
                  </nav>
                </div>
              </div>
              <!--@*<div class="col-lg-2 col-md-4 search-container">
                <form class="row">
                  <input class="form-control" type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>*@-->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!--heading-->
        <div class="row mt-3 blog-detail p-2">
          <!-- Post Content Column -->
          <div class="col-lg-8">
            <!-- Preview Image -->
            <div class="col-lg-12 blog-img">
              <div class="row">
                <img class="card-img-top" src="../../../../assets/img/top_ranked_builders.jpg" alt="Card image cap">
              </div>
            </div>
            <!-- Date/Time -->
            <div class="card-footer text-muted border-bottom">
              <span><i class="fas fa-eye"></i> Views: 50 </span>
              <span>Posted on 23 June, 2019 by <a href="#">Admin</a></span>
            </div>
            <!-- Post Content -->

            <p>
              One of the most stressful times of your life! But it doesn't have to be...
              Having builders in ranks as one of the most stressful times of your life – almost half the population say it’s as stressful as
              arranging a wedding or buying a house.
            </p>
            <p>Top on the irritation list are builders who don’t finish on time, ones who don't turn up when they say they will and those who run over budget.</p>
            <h2>Top stress busters</h2>
            <ol>
              <li>Check that your builders are competent & verified.</li>
              <li>Provide a detailed specification and make sure the builders’ estimates cover everything.</li>
              <li>Completely clear the building area.</li>
              <li>Ensure children and pets are kept away from the building area. </li>
              <li>If you don’t want builders sharing your loo or kitchen, make other arrangements.</li>
              <li>Warn your neighbours.</li>
              <li>Seek any necessary permissions.</li>
              <li>If you are unhappy, talk to your builder as soon as you can.</li>
              <li>Make sure you are on hand for any quick decisions.</li>
              <li>Once you are happy with the work, pay them promptly and leave feedback to help others to make decisions.</li>
            </ol>

            <div hidden>
              <!-- Comments Form -->
              <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
              <!-- Single Comment -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl1.jpg" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>
              <!-- Comment with nested comments -->
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl2.jpg" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                  <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl3.jpg" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">Commenter Name</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                  <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="../../../../assets/img/pro-dtl4.jpg" alt="">
                    <div class="media-body">
                      <h5 class="mt-0">Commenter Name</h5>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sidebar Widgets Column -->
          <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card mb-4 d-none">
              <h5 class="card-header">Search</h5>
              <div class="card-body">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
              <h5 class="card-header">Categories</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.TradesmanApp.HW">Tradesman</a>
                      </li>
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.SupplierApp.HW">Supplier</a>
                      </li>
                      <li>
                        <a href="https://play.google.com/store/apps/details?id=com.User.HW">User</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
              <h5 class="card-header">Side Widget</h5>
              <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


