
  <div class="container my-3 pt-5" style="text-align:justify; font-size:15px;">
    <h3>Privacy Policy</h3>
    <p>
      <b>By clicking on the ‘Confirm’ checkbox on sign up via our web <a href="/">(www.hoomwork.com)</a> or mobile app, you are accepting and agreeing to our privacy practices described in the notice.</b>
    </p>
    <p>
      This Privacy Notice applies to the information you provide to us after being presented with or directed to this Privacy Notice. This could be, for example, when you share your information with our call center representatives or send us a letter via postal mail.
    </p>
    <p>Information we collect and how we use your information </p>
    <h6>The information we collect falls into three general categories :</h6>
    <ol style="list-style:none;">
      <li >
        <i>(1) &nbsp; Information you give to us;</i>
      </li>
      <li>
        <i>(2) &nbsp; Information we automatically collect from your usage of the Site or the App</i>
      </li>
      <li>
        <i>(3) &nbsp; Information we collect from third parties</i>
      </li>
    </ol>
    <p>We collect and store your information for several purposes. When and how we use the information collected depends on needs or your usage. We want to be transparent about the information we collect and we may anonymize your information for any purpose permitted by applicable laws. </p>


    <h5>1.Information you give to us</h5>
    <br />
    <ul>
      <li><b>Name and contact details </b>(in particular your email address, mailing address, phone number, and password)</li>
      <li><b>Additional profile information </b>(included your date of birth, gender, location, and preferred language)</li>
      <li><b>Payment information </b>(among which your credit/debit card number, security/CVV code, and expiration date)</li>
      <li><b>Communications and contact history with us </b>(particularly your service call recordings, chat, and instant messages, or communications with our social media channels)</li>
      <li><b>Other information </b>(such as product reviews, forum posts, survey responses, participation in promotions, and other user-generated content)</li>
    </ul>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">How we use the information you provide to us </th>
            <th scope="col" class="text-center">Why we collect it </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left;"><i>Registration & Authentication</i></td>
            <td>We collect your name and contact details to create your account and verify the details. This information is necessary for the adequate performance of certain services and offerings on the site and the app, and to fulfill our contract with you at the time of placing an order. We share your mobile number with the mobile network provider to verify your number. </td>
          </tr>
          <tr>
            <td style="text-align:left;"><i>Sending You The Account Information </i></td>
            <td>We need your name and contact details to deliver important account information to you, such as payment confirmation and notices, changes to account settings, and notices about the Site, the app, or the terms and policies that applied to them.</td>
          </tr>
          <tr>
            <td style="text-align:left;"><i>To Offer An Improved User Experience </i></td>
            <td>We use your communications and contact history, as well as other information such as additional profile information, to operate, protect, improve and optimize the site and the app and to personalize and customize your experience. We have a legitimate interest in improving the Site and the app, as well as user experience.</td>
          </tr>
          <tr>
            <td style="text-align:left;"><i>Analytics,Training And Quality Assurance</i></td>
            <td>
              We may use the information you provide, to train our staff, improve our services, and perform other internal analytics and performance monitoring. This processing can be according to your consent or according to our legitimate interest in detecting and preventing fraud and improving our services and offerings.
            </td>
          </tr>
          <tr>
            <td style="text-align:left;"><i>Communication, Marketing, And Advertising </i></td>
            <td>We may use the information you provide, to deliver and personalize our communications with you or other promotional activities. This processing can be according to your consent or under our legitimate interest in undertaking marketing activities to offer you products or services that may be of interest.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h5>2. Information we automatically collect from the Site or the App</h5>
    <br />
    <ul>
      <li><b>Payment history and saved items </b>(such as what amount was paid to tradesman for the job and what you've placed in saved items at the marketplace)</li>
      <li>
        <b>Log data and device information </b>(including details about how you've used our site or the app, IP address, access dates and times, hardware and software information, device information, device event information, unique identifiers, crash data, cookie data, location data, and page/product views or clicks)
      </li>
      <li><b>Geo-location information </b>(especially the IP address, browser information or mobile GPS information)</li>
      <li><b>Cookies and similar technologies </b>(such as web beacons, pixels, and mobile identifiers)</li>
    </ul>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="text-align:left;">How we use the information we mechanically collect </th>
            <th scope="col" class="text-center">Why we collect it</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>To Provide Customer Service And Process Returns</i></td>
            <td>We use your saved products to help you make a purchase, and your purchase history to uphold our contract with you and ensure that you've had a great customer experience.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>To Offer An Improved User Experience</i></td>
            <td>We use your log data and device information to operate, protect, improve and optimize the site and the app and to personalize and customize your experience. We have a legitimate interest in improving the site and the app, as well as user experience.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>To Create And Maintain A Secure Environment </i></td>
            <td>We have a legitimate interest in protecting the site and the app, to comply with applicable law and to measure the adequate performance of our contract with you.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>Analytics, Training And Quality Assurance </i></td>
            <td>We may use automatically-collected information to train our staff and perform internal analytics and performance monitoring. We have a legitimate interest in detecting and preventing fraud and improving our services and offerings.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>Communication, Marketing, And Advertising</i></td>
            <td>We may use automatically-collected information such as cookies and similar technologies to provide the most relevant advertisement to you. This processing can be under your consent or according to our legitimate interest in undertaking marketing activities to offer you products or services that may be of interest.</td>
          </tr>

        </tbody>

      </table>
    </div>
    <h5>3. Information we collect from third parties,</h5>
    <br />
    <p>namely third-party services (such as if you link, connect, or log in to the site or the app with your Google, Facebook, Instagram or Twitter accounts) or other sources (e.g. your contacts or brands we partner with)</p>
    <ul>
      <li><b>Name and contact details</b> (suchlike your email address, mailing address, phone number, and password)</li>
      <li><b>Social media handles </b> (like your Twitter or Instagram handle)</li>
      <li><b>Other information </b>(for instance, your demographic data, fraud detection information and information about you and your activities, experiences, and interactions on and off the site and the app)</li>
    </ul>
    <div class="table-responsive">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="text-align:left;">How we use information from third parties </th>
            <th scope="col" class="text-center">Why we collect it </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>Registration And Profile </i></td>
            <td>We will use information from third-party services if you register with us using another service, such as Facebook. Connecting to third-party applications or services is optional. If you create your account by connecting through another service, we will collect public information from that connected account to help complete your profile.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>Communication, Marketing, And Advertising </i></td>
            <td>
              We may use the information we collect or receive from third parties to deliver and personalize our communications with you, or to administer referral programs, rewards, surveys, sweepstakes, contests or other promotional activities. This processing can be under your consent or according to our legitimate interest in undertaking marketing activities to offer you products or services that may be of interest.
            </td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>Non-Member Referrals</i></td>
            <td>We may obtain your information from a friend or other contact who wants to invite you to use the site or app. We will use your information to facilitate your invitation and administer our referral program.</td>
          </tr>
          <tr>
            <td class="my-auto" style="text-align:left;"><i>To Create And Maintain A Secure Environment</i></td>
            <td>We may obtain your information from third-party service providers and/or partners (e.g. identity verification services) and combine it with information we have about you for fraud prevention and risk assessment efforts. We have a legitimate interest in detecting and preventing fraud and improving our services and offerings.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h5>4. When we share your information</h5>
    <p>We share your information with the following categories of recipients as an essential part of being able to provide the Site, the app and related services, including customer service, to you:</p>
    <h6>4.1) When You Post A Request for Services:</h6>
    <p>We share client information (full name, address, email address and phone number) with trade businesses & tradesmen that respond to a client’s request for services. Trade Businesses must comply with the Trade Business Code of Conduct concerning how they deal with clients and use client information. Here we are using your information to fulfill our contractual obligations to you.</p>

    <h6>4.2) When You Respond to A Request for Services:</h6><p>We share Trade Business’s information (name, full address, email address and phone number) with clients when they respond to a request for services. Here we are using your information to fulfill our contractual obligations to you. In the event of a dispute between a client and a trade business or tradesman, we will make available any other personal information we hold on a trade business that is appropriate to that dispute and may, in our judgment assist in the fair and reasonable resolution of that dispute.</p>

    <h5>5. Brand Partners</h5>
    <p>"Brand Partners" are third parties that we work with, who offer products or services that may be useful or of interest to you. Our Brand Partners are carefully selected reputable organizations whose privacy policies we believe are consistent with ours. Such organizations may include other retailers and magazine publishers.</p>
    <p>You have a choice whether to allow us to share your information with our brand partners for their direct marketing purposes when you create an account. You can always opt-out of our sharing of your information with our brand partners by sending us an email at <a href="mailto: info@hoomwork.com " style="color:blue">info@hoomwork.com</a> or by unchecking the box in your preferences.</p>

    <h5>6. Information Security and Storage</h5>
    <p>We implement physical, technical, and organizational security measures designed to safeguard the personal information we process through our Services. These measures are aimed at providing on-going integrity and confidentiality for your personal information. We evaluate and update these measures regularly. However, no information system can be 100% secure, so we cannot guarantee the absolute security of your information.</p>
    <p>We retain your personal information for as long as we have a relationship with you. When deciding how long to keep your personal information after our relationship with you has ended. We may also retain records to investigate or defend against potential legal claims. We will also retain information on all trade professionals to help us prevent fraudulent activity e.g. trying to be trying to open multiple accounts.</p>

    <h5>7. Your rights and choices</h5>
    <p>You have the following rights related to the information we maintain about you: </p>
    <ul>
      <li>The right to be informed about how your information is used. This is the reason we provide this privacy notice to you.</li>
      <li>
        The right to access the information we hold about you.
      </li>
      <li>
        The right to request the correction of inaccurate information we hold about you. You can correct some of this information in your account settings.
      </li>
      <li>
        In some circumstances, the right to request that we delete your information, or stop processing it or collecting it.
      </li>
      <li>
        The right to stop direct marketing messages, which you can do through your preferences or by clicking on any "unsubscribe" link in any marketing email you receive from us. You also have the right to withdraw your consent for other processing activities for which you have given us your consent.
      </li>
      <li>
        The right to request that we transfer your information either to you or a third party.
      </li>
      <li> The right to complain to your data protection regulator.</li>
    </ul>
    <h5>8. Cookies</h5>
    <p>
      Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse this site, you are agreeing to our use of cookies.
    </p>
    <p>
      A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.
    </p>
    <p>
      We use the following cookies:
    <p>
      <ul>
        <li><b> Strictly necessary cookies. </b>These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</li>
        <li>
          <b>Analytical/performance cookies.</b>They allow us to recognize and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.
        </li>
        <li>
          <b>Functionality cookies.</b>These are used to recognize you when you return to our website. This enables us to personalize our content for you, greet you by name and remember your preferences (for example, your choice of language or region).
        </li>
        <li>
          <b>Targeting cookies. </b>These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.
        </li>
      </ul>
    <p>
      Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.
    </p>
    <p>
      You block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) you may not be able to access all or parts of our site.
    </p>

  </div>
