<div class="index-heder register-bg">
  <div class="caption">
    <div class="container">
      <div class="row">
        <div class="col-md-7 caption-container my-auto">
          <h1>The Trusted Way to Find a Rated Professional</h1>
          <p class="mb-4">From electric & plumbing work to new home construction, house decoration, Material  & homeware shopping</p>
          <div class="actions">
            <a href="postjob.html" class="btn btn-primary btn-lg">Get Free Quotes</a>
            <a href="marketplace.html" class="btn btn-outline-dark btn-lg">Marketplace</a>
          </div>
        </div>
        <div class="col-lg-5 form-signup">
          <form>
            <div class="form-group col-md-12 text-left btn-block btn-register">
              <h2 class="text-primary mt-2">Forgot Password?</h2>
              <p>You will receive text message with 4 digit code.</p>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputmobile" class="sr-only">Mobile Number</label>
                <input type="text" id="inputmobile" [(ngModel)]="emailOrPhoneNumber" name="emailorphonenumber" class="form-control" placeholder="Mobile Number" required>
                <div *ngIf="submittedApplicationForm" class="text-danger small">
                  <div><p>{{errormessage}}<p></div>
                </div>
              </div>
              <div class="form-group col-md-12 text-right">
                <a class="btn btn-primary text-center" (click)="FindAccount()">Send</a>
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
