<div class="container pt-5">
  <div class="faq my-3 mb-4" id="faq" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#faq" href="#qOne" aria-expanded="true" aria-controls="qOne">
            How to register as a tradesman?
          </a>
        </h5>
      </div>

      <div id="qOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
          <p>Create your tradesman account for free <a href="https://play.google.com/store/apps/details?id=com.TradesmanApp.HW">register here today.</a></p>
          <p>Need help signing in? </p>
          <ul>
            <li>
              Simply fill out the information about you and your company.
            </li>
            <li>
              Verify your identity .
            </li>
            <li>
              Select payment plan for your membership .
            </li>
            <li>
              Accept our security and privacy statement .
            </li>
            <li>
              Pay total and manage your account.
            </li>
          </ul>
          <p>We accept applications within 48 hours of receiving it (five business days). </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qTwo" href="#qTwo" aria-expanded="false" aria-controls="qTwo">
            In the case of an Ltd Company. How do I verify identification?
          </a>
        </h5>
      </div>
      <div id="qTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
          <p>
            To gain access to your account, you must verify the identity of the principal contact or registered director (if different from the primary contact).

          </p>
          <p>
            Note: We do not accept group photos or logos as your profile picture.
          </p>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qThree" href="#qThree" aria-expanded="false" aria-controls="qThree">How do I talk to a mediator at Hoomwork, in case needed? </a>
        </h5>
      </div>
      <div id="qThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Click  <a href="https://www.hoomwork.com/Home/Contact">contact</a> us Request a callback.A Hoomwork representative will call you back as soon as possible.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qFour" href="#qFour" aria-expanded="false" aria-controls="qFour"> What is a task lead?</a>
        </h5>
      </div>
      <div id="qFour" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Task leads is a request that a customer task on the Hoomwork website. We sort requests via address, trade and skill type to pass on details to tradespeople.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qFive" href="#qFive" aria-expanded="false" aria-controls="qFive">
            How to view and bid task leads?
          </a>
        </h5>
      </div>
      <div id="qFive" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            You can view and bid task leads in a variety of ways:
          </p>
          <ul>
            <li>
              On the main of a website: Upon logging in to your account, you can find the list of latest leads. You can view more details by clicking ‘read more details’
            </li>
            <li>
              On our mobile website: On the app landing page, view the complete task leads list. To see details click read more link.
            </li>
            <li>
              Via email alerts: turn on email alerts and receive notifications of the latest leads.
            </li>
            <li>
              With our mobile app: On the app landing page, view the task lead list. Tap view for detailed information.

            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qSix" href="#qSix" aria-expanded="false" aria-controls="qSix">
            How can I control which task leads I receive?
          </a>
        </h5>
      </div>
      <div id="qSix" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>Control task leads by tailoring categories and areas you would like i.e. your address, activity area and trade/skills at the time of creating the account. Tap ‘edit profile settings’ to change settings at any time</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qSeven" href="#qSeven" aria-expanded="false" aria-controls="qSeven">
            Why is my task lead list not nurturing many leads?
          </a>
        </h5>
      </div>
      <div id="qSeven" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Hoomwork creates task leads based on address, activity area, and trade/skill settings. Having these values/working area set incorrect might trouble finding similar task leads.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qEight" href="#qEight" aria-expanded="false" aria-controls="qEight">
            How can I bid a task lead?
          </a>
        </h5>
      </div>
      <div id="qEight" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>Tap ‘bid’ to bid task lead faster with e-mail, mobile app. Fill in requirements and submit the form. Accept bid to receive complete customer details for the lead. </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qNine" href="#qNine" aria-expanded="false" aria-controls="qNine">
            How do I edit a bid once submitted?
          </a>
        </h5>
      </div>
      <div id="qNine" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Just click the edit button and modify the bid at any time.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qTen" href="#qTen" aria-expanded="false" aria-controls="qTen">
            What happens once I bid a task lead?
          </a>
        </h5>
      </div>
      <div id="qTen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            After bidding a task lead, the customer accepts the bid. The customer may call a tradesman to further discuss the details. To increase the chances of winning more work, we share your profile page, ratings and contact details. A single customer can review three tradespeople profiles at a time. It is best to bid first to win more work.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qSixteen" href="#qSixteen" aria-expanded="false" aria-controls="qSixteen">
            What’s the next step after the bid is accepted?
          </a>
        </h5>
      </div>
      <div id="qSixteen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Once the customer fully understands you. He contacts you to visit his place to fully understand effort, price and time. If the task requires more money, over time than tradesman can modify and update bid with an actual amount and resubmit again.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qEleven" href="#qEleven" aria-expanded="false" aria-controls="qEleven">
            What if the actual project cost is higher than the bid accepted?

          </a>
        </h5>
      </div>
      <div id="qEleven" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            The tradesman can always edit the bid and resubmit at a competitive price.
          </p>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qTwelve" href="#qTwelve" aria-expanded="false" aria-controls="qTwelve">
            What to do when the customers won’t pay the right amount for the task?
          </a>
        </h5>
      </div>
      <div id="qTwelve" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            We are not responsible for any payment disputes.
          </p>
          <p>
            However, in cases, putting vast tradespeople in contact with customer’s results in a positive experience. But there may be times when things don’t work out and we wish to write to the customer for recovery. In such case follow these basics steps given below;
          </p>
          <ol>
            <li>
              Contact homeowner for payment discussion
            </li>
            <li>
              Consider Hoomwork experts to help resolve your dispute
            </li>
            <li>
              Collect evidence
            </li>
            <li>
              Contact police for further support

            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qThirteen" href="#qThirteen" aria-expanded="false" aria-controls="qThirteen">
            How to contact the customer?
          </a>
        </h5>
      </div>
      <div id="qThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            At the time of bidding a task lead, we offer ‘call back request’ alert. That notify the customers to call back within the first minute. However, this facility can be avail through Mobile Application.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qFourteen" href="#qFourteen" aria-expanded="false" aria-controls="qFourteen">
            Why should I request for rating?
          </a>
        </h5>
      </div>
      <div id="qFourteen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Reviews and ratings help build a solid reputation online. Whenever a customer reviews a tradesman profile at the time of bidding a lead, he reads ratings present on the page. This is why it is important to have positive ratings on the page.
          </p>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qFifteen" href="#qFifteen" aria-expanded="false" aria-controls="qFifteen">
            I am a new joiner. How can I win work on Hoomwork if I don’t have ratings?
          </a>
        </h5>
      </div>
      <div id="qFifteen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            In such a scenario, the best way to win more clients is through value-based marketing. Simply follow the steps mentioned below.
          </p>
          <ul>
            <li>
              Outline your previous work, qualification, and specialties.
            </li>
            <li>
              Start with low-cost, easy-to-service leads where customers pay less importance to ratings
            </li>
            <li>
              Come in contact with the customer immediately after bidding a task lead.
            </li>
            <li>
              Give a thorough, detailed quote and provide references.
            </li>
            <li>
              Always ask your customers to leave feedback once the task is done.
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qseventeen" href="#qseventeen" aria-expanded="false" aria-controls="qseventeen">
            Is Hoomwork a free service for tradespeople?
          </a>
        </h5>
      </div>
      <div id="qseventeen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            Yes! It is free of charge in the initial period.
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#qseventeen" href="#qseventeen" aria-expanded="false" aria-controls="qseventeen">
            On what terms you suspend trades people’s accounts?
          </a>
        </h5>
      </div>
      <div id="qseventeen" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-body">
          <p>
            We are committed to eliminating any risks posed by customers. This is why we close accounts if they were;
          </p>

          <ul>
            <li>
              Not willing to find a fair and reasonable solution for negative feedback or complaints.
            </li>
            <li>
              Receiving negative reviews or serious complaints from a customer in their initial few months
            </li>
            <li>
              Received three instances of poor workmanship within the last 12 months (based on negative feedback or a complaint being raised).
            </li>
            <li>
              After addressing a wider issue or complaint, we reason there is sufficient cause to remove a tradesperson from our service.
            </li>
            <li>
              Caught behaving improperly, including being racist or sexist, threatening, bullying, stealing from or abusing the trust of customers.
            </li>
            <li>
              Receiving serious complaints relating to their work or personal conduct from outside of the Hoomwork site.
            </li>
            <li>
              Not complying with trading standards, government bodies or the Police.
            </li>
            <li>
              Setting up multiple Hoomwork accounts for personal gain.
            </li>
            <li>
              No longer passing identity validation.
            </li>
            <li>
              No longer meeting the financial stability criteria we set.
            </li>
        </ul>
          <p>
            This detailed information is by no means exhaustive and is there to guard both landowners and truthful tradespeople. So, in case your venture becomes financially challenging and complaining. We may choose to close your account.
             For example, if your business becomes financially challenged and you get a complaint, we may choose to close your account.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
