<div class="container body-paging mb-5 mt-3 text-left">
  <div class="col-lg-12 bg-white">
    <div class="row page-header">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-10 col-md-8">
            <div class="row">
              <nav aria-label="breadcrumb" hidden>
                <ol class="breadcrumb">
                  <!--@*
                  <li class="breadcrumb-item"><a href="default.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Agrement</li>*@-->
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 search-container">
            &nbsp;
          </div>
        </div>
      </div><!-- /.col-lg-12 -->
    </div>
    <div class="row user-agrement">
      <div class="col-md-12">
        <h4>Suppliers Agreement</h4>
        <p>
          Thank you for using our service at <a routerLink="/">Hoomwork</a> (the “Website“) or through the Hoomwork application (the “App”) on your mobile device. This user agreement lays out the terms of use of our services “Hoomwork   ” at the website and the app, whether as a guest or a registered homeowner. Use of our service includes accessing, browsing, or creating an account to use the website. By clicking ‘Get free quotes or marketplace’, you are requesting us to provide the Service as soon as practically possible.
        </p>
        <p>
          Please read these terms of use carefully before you start using and the website and the App. We recommend that you print a copy of this for future reference. By using and the website and the App, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms of use, you must not use our site.
        </p>
        <br />
        <h5>1. Governing Law and Jurisdiction </h5>
        <p>
          The user agreement shall be governed by and construed following the law for time being in force in Pakistan. Disputes arising out of or in connection with the user agreement shall be subject to the exclusive jurisdiction of the competent Courts of Law in Pakistan.
        </p>
        <p>If any provisions hereof are held to be illegal or unenforceable such provisions shall be severed, and the remainder of this Agreement shall remain in full force and effect unless the purpose of this agreement is substantially frustrated thereby.</p>
        <br />
        <h5>2. Introduction to the Hoomwork    </h5>
        <p>
          Hoomwork is a company (the “Company” limited by SECP registered under the Companies Act 2017 bearing registration number 0129732. The registered office of the company is 41-Q, Iqra St, Model Town, Lahore 54700, Pakistan. Where any reference whatsoever is made to the company in this Agreement, this is also taken to include our group companies, affiliates, and or the employees, associated and contracted persons, and persons providing services to the company or the group companies. Contact with our company can be established by <a routerLink="/Contacts/User/ContactUs">clicking here.</a>
        </p>
        <p>Where we refer to you in this agreement, this also includes any person that accesses or uses our service on your behalf. The “Agreement” includes the terms set out here and the Privacy Policy as made available via the internet and/or our “Apps” from time to time.</p>
        <p>Our <b>“Apps”</b> are the HoomworkHomes,  Hoomwork-Supply, and Hoomwork-Trades and any other application that we release (each as modified and/or updated by us from time to time).</p>
        <p>Any person, except the HomeOwner Company Limited, using our Service to promote their services or products shall be deemed a <b>“Trade Business partner“.</b> As part of receiving the Service, you may from time to time upload information to the Service.</p>
        <br />
        <h5>3) Ad Listing practices</h5>
        <p>
          For a satisfying and fun experience on Hoomwork, we help businesses publish a list or advertise their items in the most effective ways possible. As general rules, sellers have to:
        </p>
        <ul>
          <li>Select a category that matches the item for sale. </li>
          <li>Provide a clear, honest, and accurate description of the item.</li>
        </ul>

        <p>
          <b>Note:</b> Your item description and terms of sale shall not be included in an image. They must be in the listing hosted on Hoomwork.
        </p>
        <p>It shall be against our policies to do anything that manipulates the search or browse experience on Hoomwork. This condition shall apply to all parts of a listing or advertisement, including the title, subtitle, product details, description, pictures, links, and meta tags. An action shall be taken in case tactics that are likely to inappropriately divert the buyers to a listing. </p>
        <p>The user must be sure to learn about our guidelines on <a href="#">See our Guidelines</a> before publishing a listing or advertisement </p>
        <h5>Brand names:</h5>
        <br />
        <h6>Allowed:</h6>
        <ul>
          <li>A brand name can be mentioned in a listing, as long as the item is authentically branded with that brand or product name.</li>
          <li>A celebrity name can be included in a listing, as long as the celebrity created, officially endorsed, owned, or signed the item. Celebrities can also be mentioned if they are depicted in the item for sales, such as on posters or photos.</li>
          <li>Multiple brand names can be used, as long as there are items by each of those brands in the listing. Various designer names can only be specified if more than one item made by those designers are to be sold in a single listing.</li>
        </ul>
        <br />
        <h6>Not Allowed:</h6>
        <ul>
          <li>Brand names, celebrities, or other product details cannot be specified in a listing if you are not selling an item by those brands.</li>
          <li>Comparing the item, you're selling to a popular product.</li>
          <li>Misspelling brand names to try to circumvent the rules.</li>
          <li>Using a question mark '?' when you're not sure about the brand.</li>
          <li>Providing details such as MPN or UPC that  don't match the item you're listing.</li>
          <li>Using inaccurate or misleading information for required product details (such as "Does not apply" or "N/A") when describing required product identifiers (such as brand, UPC, or MPN) or information other than what the manufacturer provided if the manufacturer has provided that information about your product. </li>
        </ul>
        <h5>Categories:</h5>
        <br />
        <h6>Allowed:</h6>
        <ul>
          <li>Select a category that matches the item for sale.</li>
          <li>Select an applicable secondary category</li>
          <li>Select the Other category when there isn't one that exactly matches your item</li>
        </ul>
        <h6>Not Allowed:</h6>
        <ul>
          <li>Selecting a category that doesn't match the item in order to include details for a different product isn't allowed</li>
          <li>Selecting a secondary category that doesn't match the item isn't allowed</li>
          <li>Selecting a similar category that doesn't match the item.</li>
        </ul>

        <h5>Item details:</h5>
        <br />
        <h6>Allowed:</h6>
        <p>Provision of clear and accurate details about an item that helps people make intelligent buying decisions - and enables them to make reasonable expectations upon receiving a product. </p>
        <h6>Not Allowed:</h6>
        <ul>
          <li>Selection of product details from a catalog provided by the company that do not match the items being listed.</li>
          <li>Selecting an item that does not match the user’s item description, such as 'New' item condition for an item that has been used.</li>
          <li>Provision of details such as MPN or UPC that do not match the item listed.</li>
          <li>Contradicting  your item condition in item specifics with pictures or your item description.</li>
          <li>Including terms in the wrong field of your listing, such as including postage terms in the Condition description field.</li>
        </ul>

        <h5>Pictures & Videos</h5>
        <p>Including pictures & videos in the listings helps buyers decide whether to purchase your item. Always provide clear and detailed pictures that truly represent your item so there is no confusion about what you are selling.</p>

        <h6>Allowed:</h6>
        <ul>
          <li>Photos and video, you created yourself</li>
          <li>You can add maximum 5 photos and 1 video.</li>
        </ul>
        <h6>Not Allowed:</h6>
        <ul>
          <li>Mages or text copied from websites or internet searches.</li>
          <li>Images and text copied from listings of other HoomWork members.</li>
          <li>Scans or text copies from catalogues or advertisements.</li>
        </ul>
        <h6>Titles:</h6>
        <p>Keep listing titles and subtitles clear and 100% accurate. Being honest about what you are selling helps buyers find exactly what they are looking for. Avoid giving false details just to attract people to your listing. Remember that inaccurate or misleading titles are not allowed on Hoomwork.Keep listing titles and subtitles clear and 100% accurate. Being honest about what you are selling helps buyers find exactly what they are looking for. Avoid giving false details just to attract people to your listing. Remember that inaccurate or misleading titles are not allowed on Hoomwork.Keep listing titles and subtitles clear and 100% accurate. Being honest about what you are selling helps buyers find exactly what they are looking for. Avoid giving false details just to attract people to your listing. Remember that inaccurate or misleading titles are not allowed on Hoomwork.</p>
        <br />
        <h5>4) Featured Services</h5>
        <p>
          Posting advertisement on Hoomwork is generally free, but we  charge a fee for certain services such as featured and spotlight Ads. If you select any paid feature for you listing, then you shall be able to review and accept terms that will be clearly disclosed at the time you post your advertisement. Our prices are quoted in rupees, and we may change them from time to time. We shall notify you of changes to our fee policy by posting such changes on the Hoomwork    website. We may choose to temporarily change our fees for promotional events or new services; these changes are effective when we announce the promotional event or new service.
        </p>
        <p>You acknowledge that your advertisements may be deleted from the Hoomwork sites, services, applications or tools in case we believe these Terms of Use, including our Posting Rules, are breached, either directly or indirectly. In case you would have paid a fee for the display of such advertisement, you may be entitled to a refund of such fee. However, we reserve the right not to refund the Hoomwork    users for any fees paid through use of our sites, services, applications and tools in the following cases: </p>
        <ul>
          <li>If you breach, in our opinion, these Terms of Use, which include, without limitation, the Posting Rules; </li>
          <li>If your advertisements went live with exposure on the Hoomwork    sites, services, applications, or tools, even for a limited time, and that they benefited from the service associated with the paid fee;</li>
          <li>If you have removed your ads yourself;</li>
          <li>If you post duplicate advertisements as defined in our rules regarding duplicate ads;</li>
          <li>If we believe that your ads are in a significantly wrong category;</li>
          <li>•	If your advertisement was deleted for violating Hoomwork    policies, or if you have deleted it yourself, then any paid fees will not be refunded.</li>
        </ul>
        <h6>4.1) Buyer & supplier delivery method:</h6>
        <ul>
          <li>HoomWork  does not offer payment gateway and shopping cart to users. </li>
          <li>Buyer and sellers decide payment method and arranges accordingly. </li>
          <li>HoomWork is not responsible for any non-payment and related disputes. </li>
        </ul>
        <h6>4.2) Shipping and handling:</h6>

        <p>Reasonable handling cost that covers your costs for mailing, packaging, and handling the item may be added. Handling costs shall not be listed as a percentage of the final price.</p>
        <ul>
          <li>Must select shipping method (delivery, collection).</li>
          <li>Display appropriate shipping cost.</li>

        </ul>

        <br />
        <h5>5) Liability</h5>
        <p>
          Nothing in these terms shall limit our liability for fraudulent misrepresentation, or death or personal injury resulting from our negligence or the negligence of our agents or employees. You agree not to hold us responsible for things other users post or do.</p>
        <p> In no event do we accept liability of any description for the posting of any unlawful, threatening, abusive, defamatory, obscene or indecent information, or material of any kind which violates or infringes upon the rights of any other person, including without limitation any transmissions constituting or encouraging conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any applicable law. </p>
        <p> You acknowledge that we do not guarantee continuous, error-free, or secure access to our services or that defects in the service will be corrected. While we shall use reasonable efforts to maintain an uninterrupted service, we do not guarantee this, and we do not give any promises or warranties (whether express or implied) about the operation and availability of our sites, services, applications, or tools. </p>
        <p>Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations, and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, fitness for a particular purpose, and those arising by statute. We are not liable for any loss, whether of money (including profit), goodwill, or reputation, or any special, indirect, or consequential damages arising out of your use of, or inability to use Hoomwork, even if you advise us or we could reasonably foresee the possibility of any such damage occurring.</p>

        <h5>6) Intellectual property rights</h5>
        <p><b>Hoomwork</b> owns all the intellectual property rights relating to the website and the app, including the designs, text, database, graphics and layouts, and you agree not to use or copy any part thereof without our express permission.</p>
        <p>The intellectual property rights on postings, messages, text, files, images, photos, video, sounds, or other materials ("Content") Users upload to <b>Hoomwork</b> are retained by the copyright owner, and these are added to the website by Users at their own risk. In doing so you are giving expressed and irrevocable permission for us to store, display and use the content.</p>
        <h5>7) Our Rights</h5>
        <p>You agree that <b>Hoomworks</b>, in its sole discretion, has the right (but not the obligation) to deactivate your account, block your email address, or otherwise terminate or restrict your access to or use of the website or the app, immediately and without notice, for any reason, including, without limitation, if <b>Hoomworks</b> believes that you have acted inconsistently with the letter or spirit of the terms.</p>

      </div>
    </div>
  </div>
</div>

