
<div class="footer">
  <div class="container">
    <div class="row ">
      <!-- footer-links -->
      <div class="col">
        <div class="footer-widget ">
          <div class="footer-title">Homeowners</div>
          <ul class="list-unstyled">
            <li><a href="#">Create a job</a></li>
            <!--<li><a href="#">Testimonials</a></li>-->
            <!--<li><a href="#">How it works</a></li>-->
            <li><a routerLink="/Contacts/User/ContactUs">Contact</a></li>
            <li><a routerLink="/HWUser/Home/UserFAQs">Help & FAQ</a></li>
            <li><a routerLink="/User/Agrements/UserAgreement">User agrement</a></li>
          </ul>
        </div>
      </div>
      <!-- /.footer-links -->
      <!-- footer-about -->
      <div class="col">
        <div class="footer-widget ">
          <div class="footer-title">Tradesmen</div>
          <ul class="list-unstyled">
            <!--<li><a href="#">Sign up</a></li>-->
            <li><a href="https://play.google.com/store/apps/details?id=com.TradesmanApp.HW">Live leads</a></li>
            <!--<li><a href="#">How it works</a></li>-->
            <li><a routerLink="/Contacts/User/ContactUs">Contact</a></li>
            <li><a routerLink="/HWUser/Home/UserFAQs">Help & FAQ</a></li>
            <li><a routerLink="/User/Agrements/UserAgreement">Tradesmen agrement</a></li>
          </ul>
        </div>
      </div>
      <!-- /.footer-about -->
      <!-- footer-links -->
      <div class="col">
        <div class="footer-widget ">
          <div class="footer-title">Supplier</div>
          <ul class="list-unstyled">
            <li><a href="#">Post Ad</a></li>
            <!--<li><a href="#">Testimonials</a></li>-->
            <!--<li><a href="#">How it works</a></li>-->
            <li><a routerLink="/Contacts/User/ContactUs">Contact</a></li>
            <li><a routerLink="/HWUser/Home/UserFAQs">Help & FAQ</a></li>
            <li><a routerLink="/User/Agrements/UserAgreement">Supplier agrement</a></li>
          </ul>
        </div>
      </div>
      <!-- /.footer-links -->
      <!-- footer-links -->
      <div class="col">
        <div class="footer-widget ">
          <div class="footer-title">Hoomwork</div>
          <ul class="list-unstyled">
            <li><a routerLink="/HWUser/Common/AboutUs">About us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
      </div>
      <!-- /.footer-links -->
      <!-- footer-links -->
      <div class="col">
        <div class="footer-widget ">
          <div class="footer-title">Follow us on</div>
          <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/homemwork"><i class="fab fa-facebook-square"></i>Facebook</a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i>Linked In</a></li>
            <li><a href="#"><i class="fab fa-youtube-square"></i>Youtube</a></li>
          </ul>
        </div>
      </div>
      <!-- /.footer-links -->
      <!-- tiny-footer -->
    </div>
    <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
        <div class="tiny-footer">
          <p>Copyright © Hoomwork Ltd, All Rights Reserved.</p>
        </div>
      </div>
      <!-- /. tiny-footer -->
    </div>
  </div>
</div>
