<!--<div class="col-md-12 bg-light heading d-none"><h3 class="pl-2">Articals</h3></div>
<div class="row artical" d-none>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <a (click)="Blogs('BlogDetails')"><img class="card-img-top" src="../../../../assets/img/pro-dtl1.jpg" alt=""></a>
      <div class="card-body">
        <h5 class="card-title">5 Demanded items to sell</h5>
        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer text-muted">
        <span>{{common.ArticleDate}}<a href="#">Admin</a></span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <a (click)="Blogs('BlogDetails1')"><img class="card-img-top" src="../../../../assets/img/pro-dtl2.jpg" alt=""></a>
      <div class="card-body">
        <h5 class="card-title">5 Demanded items to sell</h5>
        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer text-muted">
        <span>{{common.ArticleDate}}<a href="#">Admin</a></span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <a (click)="Blogs('BlogDetails2')"><img class="card-img-top" src="../../../../assets/img/pro-dtl3.jpg" alt=""></a>
      <div class="card-body">
        <h5 class="card-title">5 Demanded items to sell</h5>
        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer text-muted">
        <span>{{common.ArticleDate}}<a href="#">Admin</a></span>
      </div>
    </div>
  </div>
</div>-->

<div class="nd-liveleads-wrapper mt-5">
  <hr>
  <h4 class="thin-heading mt-4 mb-3">Live leads</h4>
  <div class="row">
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="ll-blog-item-box">
        <div class="b-item-img">
          <a (click)="Blogs('BlogDetails')">
            <img src="../../../../assets/img/pro-dtl1.jpg" alt="imge_name" />
          </a>
        </div>
        <div class="p-3">
          <div class="b-item-content">
            <div class="d-flex justify-content-between flex-no-wrap flex-md-wrap">
              <small>Posted: {{common.ArticleDate}}</small>
              <small>450 comments</small>
            </div>
            <a href="#" class="mt-2 mb-1 d-block">
              <h5>5 ITREM STO SALEE IN</h5>
            </a>
            <p>It is a long established fact that a reader will be distracted by</p>
          </div>
          <div class="b-item-bottom d-flex justify-content-between align-items-center pt-3 mt-2">
            <div class="d-flex">
              <div class="mr-2">
                <svg>
                  <use xlink:href="../../../../assets/sprites/sprite.svg#user" />
                </svg>
              </div>
              <div>
                <strong class="d-block">Admin</strong>
                <small>25 Days Ago</small>
              </div>
            </div>
            <svg>
              <use xlink:href="../../../../assets/sprites/sprite.svg#like" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="ll-blog-item-box">
        <div class="b-item-img">
          <a (click)="Blogs('BlogDetails1')">
            <img src="../../../../assets/img/pro-dtl2.jpg" alt="imge_name" />
          </a>
        </div>
        <div class="p-3">
          <div class="b-item-content">
            <div class="d-flex justify-content-between flex-no-wrap flex-md-wrap">
              <small>Posted: {{common.ArticleDate}}</small>
              <small>450 comments</small>
            </div>
            <a href="#" class="mt-2 mb-1 d-block">
              <h5>5 ITREM STO SALEE IN</h5>
            </a>
            <p>It is a long established fact that a reader will be distracted by</p>
          </div>
          <div class="b-item-bottom d-flex justify-content-between align-items-center pt-3 mt-2">
            <div class="d-flex">
              <div class="mr-2">
                <svg>
                  <use xlink:href="../../../../assets/sprites/sprite.svg#user" />
                </svg>
              </div>
              <div>
                <strong class="d-block">Admin</strong>
                <small>25 Days Ago</small>
              </div>
            </div>
            <svg>
              <use xlink:href="../../../../assets/sprites/sprite.svg#like" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="ll-blog-item-box">
        <div class="b-item-img">
          <a (click)="Blogs('BlogDetails2')">
            <img src="../../../../assets/img/pro-dtl3.jpg" alt="imge_name" />
          </a>
        </div>
        <div class="p-3">
          <div class="b-item-content">
            <div class="d-flex justify-content-between flex-no-wrap flex-md-wrap">
              <small>Posted: {{common.ArticleDate}}</small>
              <small>450 comments</small>
            </div>
            <a href="#" class="mt-2 mb-1 d-block">
              <h5>5 ITREM STO SALEE IN</h5>
            </a>
            <p>It is a long established fact that a reader will be distracted by</p>
          </div>
          <div class="b-item-bottom d-flex justify-content-between align-items-center pt-3 mt-2">
            <div class="d-flex">
              <div class="mr-2">
                <svg>
                  <use xlink:href="../../../../assets/sprites/sprite.svg#user" />
                </svg>
              </div>
              <div>
                <strong class="d-block">Admin</strong>
                <small>25 Days Ago</small>
              </div>
            </div>
            <svg>
              <use xlink:href="../../../../assets/sprites/sprite.svg#like" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
