<div role="main" class="main test">

  <div class="container">


    <div class="row user-agrement">
      <div class="col-md-12">
        <h4>About Us</h4>
        <p>It takes both time and money to successfully maintain a buildings either home or commercials. Housing &amp; commercial properties have a major impact on the lives, of the people’s influencing health, educational achievement, employment opportunities and social cohesion. There is a significant amount of maintenance work needed to keep the average home &amp; commercial buildings in good condition. Some occurs at short notice, some can be planned in advance. </p>

        <p>How do you hire a builder who is going to produce a quality result, within your time scales and within your budget?  How do you find a builder who will do a good job and not over charge you? Do I need to involve ordering materials? Where do I get quality materials with good price? And many more questions come in mind when you start thinking about renovating or build a property and hire a tradesman. These are the questions led founders to develop a solution. A unique platform, dedicated to empowering homeowners and providing connectivity-based functionality between homeowners and tradespeople on the basis of credibility, effectiveness and efficiency.</p>
        <p>
          The HoomWork, we take the hassle out of finding the rated professionals with our unique matchmaking system. To connect good homeowners with good tradespeople to deliver better service, work, products and better lives. Our mission is to build up a two-way relationship. We want tradespeople to have the confidence to grow their business and take control of their workload.
        </p>

        <img style="display: block; margin-left: auto; margin-right: auto; width: 30%;" src="/Assets/img/aboutUs.jpg" alt="OurValues" hidden="">

        <h4>
          Vision
        </h4>
        <p>
          We want to create a service which could provide smart data driven solution to connect consumers with professional tradespeople to deliver better service, reliable work, quality lives.
        </p>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 30%;" src="/Assets/img/Vision.jpg" alt="Vision" hidden="">
        <h4>
          Mission Statement
        </h4>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 30%;" src="/Assets/img/MissionStatement.jpg" alt="Mission statements" hidden="">

        <p>
          HoomWork mission is to bring consumers and professionals together in a simple and reliable network and successfully established itself as a constant service provider in market and creates revolution in the digital landscape.
        </p>
      </div>
    </div>
  </div>
</div>
