<main id="nd-skill-list">
  <section id="banner">
    <h5>SERVICES WE PROVIDE</h5>
  </section>
  <section id="sk-list">
    <div class="container">
      <div class="row">
        <div class="col-9 mx-auto text-center">
          <h5 class="mt-5">
            LOOKING FOR QUICK RELIABLE MAINTENANCE AND REPAIR SERVICES?
            POST TASK NOW!
          </h5>
          <p class="mt-5 text-center">
            one-stop solution for all your residential and commercial maintenance & repairs <br /> needs at the best prices.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-auto ser-list">
          <div class="row sk-icon">
            <div class="col-lg-3" *ngFor="let item of activeskillList">
              <!--[routerLink]="['/skill', item?.skillId,item?.slug]"-->
              <a [routerLink]="['/landing-page/costGuides',item?.skillId,item?.slug,'fs',item?.name]">
                <svg-icon-sprite [src]="item.skillIconPath" [classes]="'service-icon'" [width]="'60px'" [viewBox]="'0 0 70 70'"></svg-icon-sprite>
                <span class="d-block">{{item.name}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
