<!-------------------------------------------- New Theme Reset Password code Desing ---------------------------------------------------------------------->

<div class="container pt-2 pt-sm-3 pt-lg-5">
  <div class="nd-sign-iu">
    <div class="row mt-2 pt-2 mt-sm-3 pt-sm-3 mt-lg-5 pt-lg-5 justify-content-center">
      <div class="col-12 col-sm-10 col-md-9 col-lg-6 col-xl-5 ">
        <div class="rs-content quotes-details">
          <div class="row">
            <div class="col-12">
              <h2 class="mb-2 mb-md-2 mb-lg-4">Change  Pin Code</h2>
            </div>
          </div>
          <form [formGroup]="appValForm">
            <div class="row no-gutters">
              <div  class="col-12">
                <div class="form-group">
                  <label>Enter 5 digit Pin Code</label>
                  <div class="nd-pincode-wrapper d-flex justify-content-between">
                    <input type="password" inputmode="numeric" autocomplete="new-password"
                           (keypress)="numberOnly($event)" class="form-control" id="first"
                           (keyup)="movetoNext('firs', 'second' , $event)" maxlength="1" formControlName="tab1" required />

                    <input type="password" inputmode="numeric" class="form-control"
                           (keypress)="numberOnly($event)" autocomplete="new-password" id="second"
                           (keyup)="movetoNext('first', 'third' , $event)" maxlength="1" formControlName="tab2" required />

                    <input type="password" inputmode="numeric" class="form-control"
                           (keypress)="numberOnly($event)" autocomplete="new-password" id="third"
                           (keyup)="movetoNext('second', 'fourth' , $event)" formControlName="tab3" maxlength="1" required />

                    <input type="password" inputmode="numeric" class="form-control"
                           (keypress)="numberOnly($event)" autocomplete="new-password" id="fourth"
                           (keyup)="movetoNext('third', 'fifth' , $event)" formControlName="tab4" maxlength="1" required />

                    <input type="password" inputmode="numeric" class="form-control"
                           (keypress)="numberOnly($event)" autocomplete="new-password" id="fifth"
                           (keyup)="movetoNext('fourth', 'fifth' , $event)" formControlName="tab5" maxlength="1" required />

                  </div>
                  <small id="pinmessege" class="text-danger" *ngIf="hasPinentered!=true"> Please enter 5 digit pin code !!</small>
                </div>
              </div>
            </div>
            <div class="row mt-3 mt-md-2 submit-btn ">
              <div class="col-12 mb-3">
                <button class="mp-outine-btn btn-block py-3" type="button" (click)="SaveNewPassword()" >save</button>
              </div>
              <!--<div class="col-12">
                <button class="mp-outine-btn btn-block py-3" type="button" (click)="Cancel()">cancel</button>
              </div>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
