<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bid Details</h1>
  </div>
  <!-- DataTales Example -->
  <div class="card shadow job-detail">
    <div class="card-body">
      <div class="row form-group">
        <label class="col-lg-2 col-md-3 col-sm-4 font-weight-bold">Job Title</label>
        <div class="col-lg-10 col-md-9 col-sm-8">{{reciveBidDetails.title}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2 col-md-3 col-sm-4 font-weight-bold">Your Budget</label>
        <div class="col-lg-10 col-md-9 col-sm-8">{{reciveBidDetails.budget}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2 col-md-3 col-sm-4 font-weight-bold">Tradesman Offer</label>
        <div class="col-lg-10 col-md-9 col-sm-8">{{reciveBidDetails.tradesmanBudget}}</div>
      </div>
      <div class="row form-group">
        <label class="col-lg-2 col-md-3 col-sm-4 font-weight-bold">Job Address</label>
        <div class="col-md-9 col-sm-8">{{reciveBidDetails.address}}</div>
      </div>

      <div class="row form-group">
        <label class="col-lg-2 col-md-3 col-sm-4 font-weight-bold">Details</label>
        <div class="col-md-9 col-sm-8">{{reciveBidDetails.description}}</div>
      </div>



    </div>
  </div>
</div>
