<div class="index-heder register-bg">
  <div class="caption">
    <div class="container">
      <div class="row">
        <div class="col-md-7 caption-container">
          <h1>Are you a skilled, hard-working tradesman?</h1>
          <p class="mb-4">We can help you win more work.</p>
        </div>
        <div class="col-lg-5 form-signup">
          <form [formGroup]="appValForm">
            <div class="mt-2 form-group col-md-12 text-left btn-block btn-register">
              <h2 class="text-primary">Change Password</h2>
              <div *ngIf="mustmatchcheck">{{confirmPasswordErrorMessageMustMatch}}</div>
              <div *ngIf="error">{{confirmPasswordErrorMessageMustMatch}}</div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputmobile" class="sr-only">Change Password</label>
                <input type="password" id="inputmobile" class="form-control" [ngClass]="{'is-invalid' : submittedApplicationForm && f.password.errors}" formControlName="password" placeholder="Password" required>
                <div *ngIf="submittedApplicationForm && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{passwordErrorMessage}}</div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="inputmobile" class="sr-only">Confirm Password</label>
                <input type="password" id="inputmobile" class="form-control" [ngClass]="{'is-invalid' : submittedApplicationForm && f.confirmPassword.errors}" formControlName="confirmPassword" placeholder="Confirm Password" required>
                <div *ngIf="submittedApplicationForm && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">{{confirmPasswordErrorMessage}}</div>
                </div>
              </div>
              <div class="form-group col-md-12 text-right">
                <a (click)="SaveNewPassword()" class="btn btn-primary text-center">Save</a>
                <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
