<div class="page-wrapper">
  <div class="authentication-box">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 p-0 card-right">
          <div class="card tab2-card">
            <div class="card-body">
              <h2 class="text-center mb-3">Forgot Password</h2>
              <form class="form-horizontal auth-form" [formGroup]="appValForm">
                <div class="form-group">
                  <input type="text" inputmode="numeric" autocomplete="off" minlength="11" maxlength="11"
                         (keypress)="_httpService.numberOnly($event)" class="form-control"
                         formControlName="mobileNo" placeholder="Mobile No" id="mobile"
                         [ngClass]="{'is-invalid':submitted && f.mobileNo.errors}">
                  <span class="text-danger" *ngIf="submitted && f.mobileNo.errors?.required">Please Enter Mobile Number</span>
                  <span class="text-danger" *ngIf="submitted && errorCode==true">Mobile Number is not Registered.</span>
                  <span class="text-danger" *ngIf="submitted && f.mobileNo.errors?.minlength">Invalid Mobile Number</span>
                </div>
                
                <div class="mt-3 form-button float-end">
                  <button class="btn btn-primary mt-0" type="submit" (click)="Send()">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
