<div class="container-fluid">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div id="page-wrapper">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-9 bg-white">
            <div class="row page-header">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-8 col-md-8">
                    <div class="row">
                      <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                          <li class="breadcrumb-item"><a href="manage-my-ad.html">Manage My Ads</a></li>
                          <li class="breadcrumb-item active" aria-current="page">2360</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 text-right">
                    &nbsp;
                  </div>
                </div>
              </div><!-- /.col-lg-12 -->
            </div><!--heading-->
            <div class="row mt-3 posted-job-detail">
              <form class="col-lg-12">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputEmail4">Category</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Furniture" disabled>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCity">Sub Category</label>
                    <input type="text" class="form-control budget" id="budget" placeholder="Sofa Set" disabled>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCity">Give a Title To Your Ad</label>
                    <input type="text" class="form-control budget" id="budget" placeholder="Corner L Shape Sofa Set" disabled>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputAddress">Item Description</label>
                    <textarea type="text" class="form-control desc" id="inputAddress" placeholder="Short description from Supplier" disabled></textarea>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress">Images</label>
                    <div class="form-control img" id="images">
                      <img data-toggle="modal" data-target="#myModal1" src="img/pro-dtl1.jpg" alt="" />
                      <img data-toggle="modal" data-target="#myModal2" src="img/pro-dtl2.jpg" alt="" />
                      <img data-toggle="modal" data-target="#myModal3" src="img/pro-dtl3.jpg" alt="" />
                      <img data-toggle="modal" data-target="#myModal4" src="img/pro-dtl4.jpg" alt="" />
                      <img data-toggle="modal" data-target="#myModal5" src="img/pro-dtl5.jpg" alt="" />
                    </div>
                    <!-- Modal 1-->
                    <div id="myModal1" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <img data-toggle="modal" data-target="#myModal1" src="img/pro-dtl1.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- Modal 2-->
                    <div id="myModal2" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <img data-toggle="modal" data-target="#myModal2" src="img/pro-dtl2.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- Modal 3-->
                    <div id="myModal3" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <img data-toggle="modal" data-target="#myModal3" src="img/pro-dtl3.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- Modal 4-->
                    <div id="myModal4" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <img data-toggle="modal" data-target="#myModal3" src="img/pro-dtl4.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- Modal 5-->
                    <div id="myModal5" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <img data-toggle="modal" data-target="#myModal5" src="img/pro-dtl5.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress">Video</label>
                    <div class="form-control img" id="video">
                      <div data-toggle="modal" data-target="#myModalvideo">
                        <img src="img/pro-dtl5.jpg" alt="" />
                      </div>
                    </div>
                    <!-- Modal 1-->
                    <div id="myModalvideo" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="height:400px;">
                          <div class="btn-close" data-dismiss="modal"><i class="fas fa-times-circle"></i></div>
                          <div data-toggle="modal" data-target="#myModalvideo">
                            <video controls="controls" style="height:400px;">
                              <source src="mp4/bg.mp4" type="video/mp4">
                            </video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-4 budgetInput">
                    <label for="inputCity">Price</label>
                    <input type="text" class="form-control budget" id="budget" placeholder="18,000" disabled>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="city">City</label>
                    <select class="form-control" id="city" disabled>
                      <option selected>Lahore</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputCity">Town</label>
                    <input type="text" class="form-control budget" id="budget" placeholder="Your Town" disabled>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputAddress">Address</label>
                    <textarea class="form-control desc" id="inputAddress" placeholder="Model Town Lahore." disabled></textarea>
                  </div>
                  <div class="form-group col-md-12 shipmentMethods">
                    <h4>Shipment Methods</h4>
                    <div class="row">
                      <div class="form-group col-lg-4 col-md-6">
                        <div class="form-check">
                          <div class="material-switch">
                            <input id="delivery" name="delivery" type="checkbox" checked disabled />
                            <label for="delivery" class="label-success"></label>
                          </div>
                          <label class="form-check-label text-dark" for="gridCheck">
                            Delivery Available
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-lg-4 col-md-6">
                        <div class="form-check">
                          <div class="material-switch">
                            <input id="collection" name="collection" type="checkbox" checked disabled />
                            <label for="collection" class="label-success"></label>
                          </div>
                          <label class="form-check-label text-dark" for="gridCheck">
                            Collection Available
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12 mt-2 text-center">
                    <button type="button" onClick="window.location = 'manage-my-ad.html'" class="btn btn-outline-success"> Cancel</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#requestCallback">Remove</button>
                    <button type="button" onClick="window.location = 'manage-my-ad-promote.html'" class="btn btn-primary"> Update</button>
                    <!-- Request Callback Modal -->
                    <div class="modal fade" id="requestCallback" tabindex="-1" role="dialog" aria-labelledby="requestCallback" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="modal-body text-center">
                            <p>Are youe sure you want to remove?</p>
                            <div class="mt-3">
                              <a href="#" class="btn btn-outline-success pl-3 pr-3">Yes</a>
                              <a href="#" class="btn btn-primary pl-3 pr-3">No</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-3 sec-ads">
            <div class="row">
              <div class="col-lg-12">
                <a href=""><img src="../../../../assets/img/ad1.jpg" alt="" /></a>
              </div>
              <div class="col-lg-12 mt-3">
                <a href=""><img src="../../../../assets/img/ad2.jpg" alt="" /></a>
              </div>
            </div>
          </div><!--ads content-->
        </div>

        <section id="downloadAPP" class="row bg-primary text-white mt-3">
          <div class="container text-center">
            <h2 class="mb-4">Download our APP</h2>
            <p class="mb-3">Managing your job is easier with the rated people homes app, downloade it today.</p>

            <a href=""><img style="width:180px" src="../../../../assets/img/andriodapp.png" alt="" /></a>
          </div>
        </section>
        <!-- /.footer -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
</div>
