<div class="container-fluid">
  <div class="contentWrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-header bg-primary">
            <h6 class="mainTitle m-0 font-weight-bold border-0" data-toggle="collapse" href="#collapse6" aria-expanded="true">Filter Analysis Data</h6>
          </div>
          <div id="collapse6" class="contentWrapper fs-12 collapse">
            <div class="card-body">
              <form [formGroup]="appValForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12">{{userRoleName}} Name</label>
                      <input type="text" maxlength="50" formControlName="name" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12">{{userRoleName}} ID</label>
                      <input type="text" maxlength="10" formControlName="userId" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12"> From Date </label>
                      <input type="date" maxlength="20" formControlName="fromDate" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12">To Date </label>
                      <input type="date" maxlength="20" formControlName="toDate" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 inline-downlod-btns">
                    <button type="submit" class="btn btn-sm btn-primary mr-2" (click)="showStatisticalAnalysisData()">Search</button>
                    <button type="reset" class="btn btn-sm btn-primary" (click)="resetFrom()">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4" [hidden]="hiddenData">
        <div class="card-header justify-header">
          <h6 class="m-0 font-weight-bold">Statistical Analysis List</h6>
          <div class="g-pagination">
            <div class="data-count">
              <span>{{recoardNoFrom}}-{{recoardNoTo}} of {{totalRecoards}}</span>
              <!--<div class="newOrOld-Data">
                <ul>
                  <li><a (click)="LoadNewestRecoards()"> Newest</a></li>
                  <li><a (click)="LoadOldestRecoards()">Oldest</a></li>
                </ul>
              </div>-->
            </div>
            <div class="indicators">
              <i class="fa fa-angle-left" (click)="PriviousClick()"></i>
              <i class="fa fa-angle-right" (click)="NextClick()"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="show_entries">
            <div class="no-of-entries">
              <label>No of Enteries</label>
              <select (change)="changePageSize()" [(ngModel)]="pageSize">
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div class="n0-of-pages">
              <label class="">No of Pages</label>
              <select class="" [(ngModel)]="pageNumber" (change)="clickchange()">
                <option *ngFor="let item of pageing1" value="{{item}}">{{item}} </option>
              </select>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th width="3%" title="ID">{{userRoleName}} ID</th>
                  <th width="3%" title="Name">{{userRoleName}} Name</th>
                  <th width="3%" title="Last Active">Last Active</th>
                  <th width="1%" title="IP Adress">IP</th>
                  <th width="3%" title="Customer Device">CD</th>
                  <th width="3%" title="Customer Location">Location</th>
                  <th width="1%" title="Application Type ">App Type</th>
                  <th width="1%" title="Application Version">App Version</th>
                  <th width="1%" title="Platrform">Platforum</th>
                  <th width="1%" title="Operating System">OS</th>
                  <th width="1%" title="OS Version ">OS Version</th>
                  <th width="1%" title="Browser">Browser</th>
                  <th width="1%" title="Browser Version">CBV</th>
                  <th width="1%" title="Desktop Device">Desktop</th>
                  <th width="1%" title="Tablet Device">Tablet</th>
                  <th width="1%" title="Mobile Device">Mobile</th>
                  <th width="1%" title="Country">Country</th>
                  <th width="1%" title="Country Capital">Capital</th>
                  <th width="1%" title="City">City</th>
                  <th width="1%" title="District">District</th>
       
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of statisticalAnalysisDataList">
                  <td>{{item?.userId ? item.userId: '-'}}</td>
                  <td>{{item?.name ? item.name: '-'}}</td>
                  <td>{{item?.lastActive | date:'dd MMM yyyy'}}</td>
                  <td>{{item?.ip ? item.ip: '-'}}</td>
                  <td>{{item?.device ? item.device : '-'}}</td>
                  <td>{{(item?.ipLocation) ? (item?.ipLocation | slice:0:25)+'...' : '-'}}</td>
                  <td>{{item?.applicationType ? item.applicationType : '-'}}</td>
                  <td>{{item?.applicaitonVersion ? item.applicaitonVersion : '-'}}</td>
                  <td>{{item?.platform  ? item.platform : '-'}}</td>
                  <td>{{item?.os  ? item.os : '-' }}</td>
                  <td>{{item?.osVersion ? item.osVersion: '-'}}</td>
                  <td>{{item?.browser ? item.browser: '-' }}</td>
                  <td>{{item?.browserVersion ? item.browserVersion : '-'}}</td>
                  <td>{{item?.desktopDevice == true ? 'Yes' : 'No'}}</td>
                  <td>{{item?.tabletDevice == true ? 'Yes' : 'No'}}</td>
                  <td>{{item?.mobileDevice == true ? 'Yes' : 'No' }}</td>
                  <td>{{item?.country? item.country : '-'}}</td>
                  <td>{{item?.countryCapital ? item.countryCapital : '-' }}</td>
                  <td>{{item?.city ? item.city : '-' }}</td>
                  <td>{{item?.district ? item.district : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="show_entries">
            <div class="no-of-entries">
              <label>No of Enteries</label>
              <select (change)="changePageSize()" [(ngModel)]="pageSize">
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div class="n0-of-pages">
              <label class="">No of Pages</label>
              <select class="" [(ngModel)]="pageNumber" (change)="clickchange()">
                <option *ngFor="let item of pageing1" value="{{item}}">{{item}} </option>
              </select>
            </div>
          </div>
          <div class="card-header justify-header">
            <h6 class="m-0 font-weight-bold">Statistical Analysis List</h6>
            <div class="g-pagination">
              <div class="data-count">
                <span>{{recoardNoFrom}}-{{recoardNoTo}} of {{totalRecoards}}</span>
              </div>
              <div class="indicators">
                <i class="fa fa-angle-left" (click)="PriviousClick()"></i>
                <i class="fa fa-angle-right" (click)="NextClick()"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

