<div class="container body-paging mb-5 mt-3 text-left">
  <div class="col-lg-12 bg-white">
    <div class="row page-header">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-10 col-md-8">
            <div class="row">
              <nav aria-label="breadcrumb" hidden>
                <ol class="breadcrumb">
                  <!--@*
                  <li class="breadcrumb-item"><a href="default.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Agrement</li>*@-->
                </ol>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 search-container">
            &nbsp;
          </div>
        </div>
      </div><!-- /.col-lg-12 -->
    </div><!--heading-->
    <div class="row user-agrement">
      <div class="col-md-12">
        <h4>TRADESMAN AGREEMENT </h4>
        <p>
          Thank you for using our service at <a routerLink="/">Hoomwork</a> (the “Website“) or through the Hoomwork application (the “App”) on your mobile device.
          This user agreement lays out the terms of use of our services “Hoomwork” at the website and the app, whether as a guest or a registered homeowner.
          Use of our service includes accessing, browsing, or creating an account to use the website. By clicking ‘Get free quotes or marketplace’, you are requesting us to provide the Service as soon as practically possible.
        </p>
        <p>
          Please read these terms of use carefully before you start using and the website and the App.
          We recommend that you print a copy of this for future reference.
          By using and the website and the App, you confirm that you accept these terms of use and that you agree to comply with them.
          If you do not agree to these terms of use, you must not use our site.
        </p>
        <br />
        <h5>1) Governing Law & Jurisdiction</h5>
        <p>
          The Tradesman agreement shall be governed by and construed following the law for time being in force in Pakistan.
          Disputes arising out of or in connection with the user agreement shall be subject to the exclusive jurisdiction of the competent Courts of Law in Pakistan.
        </p>
        <p>If any provisions hereof are held to be illegal or unenforceable such provisions shall be severed, and the remainder of this Agreement shall remain in full force and effect unless the purpose of this agreement is substantially frustrated thereby.</p>
        <br />
        <h5>2) Introduction to the Hoomwork    </h5>
        <p>
          Hoomwork is a company (the “Company” limited by SECP registered under the Companies Act 2017 bearing registration number 0129732. The registered office of the company is 41-Q, Iqra St, Model Town, Lahore 54700, Pakistan. Where any reference whatsoever is made to the company in this Agreement, this is also taken to include our group companies, affiliates, and or the employees, associated and contracted persons, and persons providing services to the company or the group companies. Contact with our company can be established by <a routerLink="/Contacts/User/ContactUs">clicking here.</a>
        </p>
        <p>Where we refer to you in this agreement, this also includes any person that accesses or uses our service on your behalf. The <b>“Agreement”</b> includes the terms set out here and the Privacy Policy as made available via the internet and/or our <b>“Apps”s</b> from time to time.</p>
        <p>Our <b>“Apps”</b> are the HoomworkHomes,  Hoomwork-Supply, and Hoomwork-Trades and any other application that we release (each as modified and/or updated by us from time to time).</p>
        <p>Any person, except the HomeOwner Company Limited, using our Service to promote their services or products shall be deemed a <b>“Trade Business partner“.</b> As part of receiving the Service, you may from time to time upload information to the Service.</p>
        <br />
        <h5>3) Homeowners & posted projects </h5>
        <p>
          It is Tradesman or contractor's responsibility to determine whether you wish to be considered for or undertake any project or deal with any Homeowner. We do not scrutinize Homeowners or their Projects, and we shall not be liable to you in respect of any project or relationship with any Homeowner in any way. We, therefore, recommend that you carefully assess each Project and carry out whatever lawful checks you consider appropriate concerning any Homeowner before undertaking any work for them.
        </p>
        <br />
        <h5>4) Content </h5>
        <p>You agree to use the website and the App only for lawful purposes and in a way that does not infringe the rights of or restrict or inhibit anyone else's use and enjoyment of the website. Messages, profiles, job descriptions, and other content must be civil and tasteful. </p>
        <p>Some of the material on the Service “Get a free quote” originates from our homeowners, and we rely on Homeowners to accurately describe their requirements for any projects for which they invite tenders from Trade Businesses through the Service (“Projects“). We have little or no editorial control over the material and we, therefore, do not guarantee the accuracy, timeliness, completeness, performance, or fitness for any particular purpose of the material available through the Service. We shall not be held responsible for errors, omissions, or inaccurate material available through the Service, and make no warranty that the Service shall be uninterrupted or error-free, or that any defects shall be corrected.</p>
        <p>You understand that all postings, messages, text, files, images, photos, video, sounds, or other materials ("Content") posted on, transmitted through, or linked from the <b>Hoomwork,</b> are the sole responsibility of the person from whom such Content originated. You are entirely responsible for all content that you post, email, or otherwise make available via the Service.</p>
        <p>You acknowledge that Hoomwork does not pre-screen or approve all content, but that <b>Hoomwork,</b> shall have the right (but not the obligation) in its sole discretion to remove or move any content that is available on the website for violating the letter or spirit of the terms or for any other reason.</p>
        <h5>
          4.1) Use of service
        </h5>

        <p>A core aim of the Service is to connect Homeowners to genuine & skilled tradespeople who want to take on Projects for those Homeowners. The Service is therefore not for use by tradesmen and any contractor who does not intend to carry out and ensure successful completion of  Project or job they accept. You, therefore, agree that you shall not in any circumstance:</p>
        <ul>
          <li>Use the service to resell user posted projects, exchange or purchasing or otherwise obtaining leads from other tradesmen;</li>
        </ul>
        <p>Pretend to be a Homeowner and post fake Projects to receive information from other tradesmen about their businesses and Project proposals. You agree that you shall not use subcontractors on any Project without the prior consent of the Homeowner. You shall be responsible for ensuring that you and your subcontractors are legally entitled to bid for and perform any Project for which you bid or accept. By using subcontractors on Projects obtained via the Service.</p>
        <p>You agree to procure that each of your subcontractors shall also comply with the terms of this Agreement as if it were a party to it. You also acknowledge that you shall be responsible to us and all Homeowners for the acts and omissions of your subcontractors.</p>
        <p>Hoomwork shall not be a party to any contract made between you and any Homeowner and therefore we shall not be liable for any loss or damage that results from any dealings between you and any Homeowner including but not limited to any direct, indirect, or consequential or inconsequential loss of any kind.</p>
        <p>We may notify you of Projects from time to time, but we shall not be under any obligation to do so. Further, Homeowners retain the right to change or withdraw their Project from our Service, we shall not be liable to give any warranty as to the availability or suitability of a particular Project. We do not review or confirm the accuracy of all details provided to us by Homeowners, and we, therefore, we do not guarantee that all leads include correct and complete information. Further, we do not guarantee that any leads generated using the Service shall result in business for you, and no refund is offered if you do not obtain business from the leads generated.</p>
        <h5>
          4.2) Engagement with Homeowners
        </h5>
        <p>
          Our feedback system is intended to provide Homeowners with independent feedback on the quality, value, and reliability of trade businesses. Furthermore, your willingness to be rated may provide Homeowners with a level of confidence regarding the Trade Business’ ability. You, therefore, agree that your performance in carrying out each Project may be rated and reviewed by the related Homeowner and that the ratings and reviews shall be published on the Service.
        </p>
        <p>
          Should you (or any of your subcontractors) have a dispute with a Homeowner, you must address such dispute directly to the Homeowner and may escalate the issue with Hoomwork. However, Hoomwork shall make efforts to resolve the issue with limited involvement. Hoomwork involvement merely is to initiate communication between the homeowner and tradesmen. For any issue relating to funds see <a href="#">Payment terms & conditions.</a>
        </p>
        <h5>
          5.) Job Leads
        </h5>
        <p>
          As part of your Membership Plan, we may send you suggested Projects that match your specified work area and trade. Each suggested Project shall include the Homeowner’s job description, estimated budget, and address. Only subscribes members could bid the leads and initiate communication with the homeowner. Hoomwork shall reveal full homeowner information once the bid is accepted and the payment method is decided.
        </p>
        <p>
          Homeowners are free to select whom they like or even not to proceed with any particular job,  it is not guaranteed that you shall be hired for that job or any other. You are only permitted to use the Homeowner information to provide a quote for the applicable Project and your use of any Homeowner information we provide to you is subject to the Privacy Policy.
        </p>
        <p>We may decide to suspend or terminate the membership plan at any time. Please note that you shall not be entitled to any refund in respect of membership fees that are included as part of any Membership Plan or which we have given to you on a discretionary basis.</p>
        <h5>
          6.) Payment  Terms
        </h5>
        <p>This section sets out our fees and payment terms for the Hoomwork Service which should be read in conjunction with our User Agreement and Privacy Policy.</p>
        <h5>Definitions</h5><br />
        <h6>Membership Plan: </h6>
        <p>the type of membership selected by you to access the Services;</p>
        <h6>Minimum Term: </h6>
        <p>the minimum period which you commit to paying the Membership Fee;</p>
        <h6>Membership Fee:</h6>
        <p>the periodic payment specified in the Membership Plan (which may be monthly, quarterly, or annually as specified in the applicable Membership Plan);</p>
        <h6>Renewal Date: </h6>
        <p>the date immediately following the end of the Tariff Period, or if a Minimum Term Membership Plan is selected, the Minimum Term.</p>
        <h5>
          6.1) Membership Plans
        </h5>
        <p>
          When you sign up to use the Service you shall be asked to select a Membership Plan. Some Membership Plans are subject to a Minimum Term, which means that you commit to paying the Membership Fee for the minimum period specified in the applicable Membership Plan. The following table shows membership plans;
        </p>
        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>Sole trader</td>
              <td>Rs 500 PM</td>
            </tr>
            <tr>
              <td>Limited company</td>
              <td>Rs 1000 PM</td>
            </tr>
          </tbody>
        </table>
        <h5>Hoomwork commission on projects;</h5>
        <p>The monthly membership plans cover projects which cost below Rs 50,000. Hoomwork shall add additional commission to a monthly membership for any project or lead above Rs 50,000. </p>
        <p>Hoomwork shall charge a 2% commission to amount above Rs 50,000.</p>
        <table class="table table-bordered">
          <thead>

          </thead>
          <tbody>
            <tr>
              <td>Project price above Rs 50,000</td>
              <td>Commission: 2%</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>Hoomwork reserve the right to change monthly membership fees and commission charges.</li>
        </ul>
        <p>Where we charge a fee for using a specific Service feature, this shall be made clear to you through the Service and you shall not be charged unless you specifically request that feature, for example by clicking on the relevant ‘Pay Now’ button.</p>
        <h5>6.2 ) Bills and payments</h5>
        <p>There shall be multiple payment options. Tradespeople may select a suitable payment option to pay membership fees. You shall provide valid banking details to our partner banks to the debit amount.  You authorize us to charge our service fee as per calculation.  We take your privacy and financial security extremely seriously – see our Privacy Policy for more information.</p>
        <p>Hoomwork shall immediately cancel membership or service in case of non-payment of membership & commission and have the right to proceed with legal action if terms are not decided. </p>
        <p>All memberships shall automatically renew on the Renewal Date unless you notify us at least 5 working days in advance of the Renewal Date that you do not want to renew your Membership Plan.</p>
        <h5>6.3 ) Refunds and cancellations</h5>
        <p>Please get in touch with us if you are in any way unsure about an amount that has been charged to your card – contact us here. In the event, we find a payment has been taken in error we shall refund the amount promptly to your credit or debit card.</p>
        <p>You may cancel your membership following these Payment Terms by contacting us here.</p>
        <p>We reserve the right to review our fees from time to time.  Any changes to these Payment Terms shall be posted on this Website & APP.</p>
        <h5>
          6.4) Peace of mind payment protection
        </h5>
        <p>Use of the Service is generally free of charge, but we may charge a fee for use of specific Service features that offer enhanced functionality or additional homeowner benefits, including, for example, our peace of mind advance payment option.</p>
        <p>Hoomwork provides the facility of payment protection to both homeowner and tradesman. In the peace of mind, the homeowner simply pays the amount agreed between homeowner and tradesman or trade business) in advance to Hoomwork. Hoomwork shall hold the funds until the job is marked as completed by the homeowner or tradesman (trade business).</p>
        <p>Hoomwork shall release the funds to tradesman or trade business if homeowner notifies to release funds or does not escalate an issue within 48 hrs of job completion. </p>
        <p>If the homeowner escalates an issue within 48 hrs of job completion, then Hoomwork shall hold funds and contact a tradesman to resolve the issue.  Hoomwork shall perform as a communication medium between homeowner and tradesman or trade business. Hoomwork won’t be part of any negotiations between parties. Stakeholders (homeowner and tradesman or trade business) shall resolve the issue themselves and notify Hoomwork to release funds. The homeowner may choose to pay directly to a tradesman. The homeowner won’t have any payment protection if the homeowner selects to pay directly to a tradesman or trade business.</p>
        <p>Any extra cost of work after the agreed amount shall be negotiated between the parties and Hoomwork shall not be liable to pay any additional cost. Illustration: A and B, the homeowner and the tradesman, agree upon the cost of services at the rate of Rs.5000/- and the amount is transferred to Hoomwork. Later on, the cost of services exceeds the agreed amount. The Hoomwork shall be liable to pay Rs.5000/- only and the rest of the amount shall be negotiated between the parties and transferred to the tradesman or trade business without the intervention of Hoomwork. </p>

        <h5>
          7. Limitation of our liability
        </h5>
        <p>
          We shall not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
        </p>
        <ul>
          <li>
            use of, or inability to use, our site;
          </li>
          <li>
            use of or reliance on any content displayed on our site;
          </li>
          <li>
            loss of profits, sales, business, or revenue;
          </li>
          <li>
            loss of project or Bid;
          </li>
          <li>
            cancellation of any engagement with homeowner;
          </li>
          <li>
            Any cash payment disputes with homeowner;
          </li>
          <li>
            business interruption;
          </li>
          <li>
            loss of anticipated savings;
          </li>
          <li>
            loss of business opportunity, goodwill or reputation;
          </li>
          <li>
            or any indirect or consequential loss or damage.

          </li>
        </ul>
        <p>
          You are responsible for ensuring that you are legally entitled to publish any information which you upload. You may not invite tenders for any Project which is not legal.
        </p>
        <p>
          It is your responsibility to select a suitable Trade Business and to negotiate the terms of any Project to be performed by the Trade Business selected. We do not guarantee any specific Trade Business information, accreditation, or registration. We make no warranty regarding any goods or services purchased or obtained through listing a Project on the Service or any transactions entered into through the Service, and you should in all cases make your inquiries.
          In particular, it is your responsibility to carry out appropriate checks.
        </p>
        <p>
          Hoomwork excludes or limits any liability for death or personal injury arising from tradesman negligence, or fraud or fraudulent misrepresentation, or any other liability.
        </p>
        <p>
          To the extent permitted by law, we exclude all conditions, warranties, representations, or other terms which may apply to our website or any content on it, whether express or implied.
        </p>
        <p>
          We shall not be liable to any homeowner for any loss or damage, theft whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
        </p>
        <p>(a) use of, or inability to use our site; </p>
        <p>(b) use of or reliance on any content displayed on our site;</p>
        <p>(c) any works that you have done by any tradesperson who contacts you as a result of a job posted on our site. </p>
        <p>Please note that our website and the app are designed for use by domestic households and private individuals. You agree that in the event you use it for any commercial or business purpose that in addition to the exclusions contained above, we shall have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
        <p>We shall not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data, or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it. </p>
        <p>We do not review homeowners' postings and are not involved in the actual transactions between homeowners.</p>
        <p>We do not review homeowners' postings and are not involved in the actual transactions between homeowners.</p>
        <p>We do not review homeowners' postings and are not involved in the actual transactions between homeowners.</p>
        <h5>
          8.) Intellectual property rights
        </h5>
        <p>
          <b>HoomWork</b> owns all the intellectual property rights relating to the site, including the designs, text, database, graphics and layouts,
          and you agree not to use or copy any part thereof without our express permission.
        </p>
        <p>
          The intellectual property rights on postings, messages, text, files, images, photos, video, sounds, or other materials ("content")
          Users upload to <b>HoomWork</b> are retained by the copyright owner, and these are added to the site by Users at their own risk. In doing so you are
          giving expressed and irrevocable permission for us to store, display and use the content.
        </p>
        <h4>
          9.) Our Rights
        </h4>
        <p>We reserve the right at all times to edit, refuse to post, or to remove from the Service any information or materials for any reason whatsoever, and to disclose any information we deem appropriate to satisfy any applicable law, regulation, legal process, police request or governmental request.</p>
        <p>We reserve the right to terminate the provision to you of the Service or restrict your access to the Service at any time without notice for any reason whatsoever.</p>

      </div>
    </div>
  </div>
</div>

