<nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow">
  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto" style="font-size:.825rem !important">
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow" *ngFor="let item of menuAndSubMenuItem;let i=index">
      <a *ngIf="item.allowView" class="nav-link dropdown-toggle" href="#" id="userDropdown{{i}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-6000 smalll">{{item?.pageName}}</span>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <ng-container *ngFor="let page of item.subArray">
          <a *ngIf="page?.allowView" class="dropdown-item" [routerLink]="page?.routingPath">
            {{page?.securityRoleItemName}}
          </a>
        </ng-container>
      </div>
    </li>


    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Nav Item - Notifications -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" (click)="setNotificationCountZero()" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>

        <span class="badge badge-danger badge-counter">{{notificaioncount}}</span>
      </a>
      <!-- Dropdown - Notifications -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">
          Notifications
        </h6>
        <a class="dropdown-item d-flex align-items-center"  *ngFor="let notification of notificationList">
          <div class="dropdown-list-image">
            <i class="fas fa-bell fa-fw"></i>
          </div>
          <div class="font-weight-bold" (click)="redirectToPage(notification.targetActivity)">
            <div class="text-truncate">{{notification.body}}</div>
            <div class="small text-gray-500">{{notification.createdOn | date: 'M/d/yy, h:mm a'}}</div>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" routerLink="/Jobmodule/notifications">View All Notifications</a>
      </div>
    </li>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{userName}}</span>
        <img *ngIf="userProfile.profileImage != null" src="{{userProfile.profileImage}}" class="img-profile rounded-circle">
        <img *ngIf="userProfile.profileImage == null" src="../../../assets/img/user-placeholder.png" alt="..." class="img-profile rounded-circle">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="dropdown-item" (click)="showModel(changePasswordContent)">
          <i class="fas fa-pencil-alt fa-sm fa-fw mr-2 text-gray-400"></i> Change Password
        </a>
        <a class="dropdown-item" href="" (click)="logOut()">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Logout
        </a>

      </div>
    </li>

  </ul>
</nav>
<!--Change password modal-->

<ng-template #changePasswordContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="fs-12">New Password</label>
            <input type="text" class="form-control" formControlName="newPassword" id="newPassword" autocomplete="off" />
            <div *ngIf="t.newPassword.errors">
            <label *ngIf="t.newPassword.errors.required && (t.newPassword.invalid && t.newPassword.touched && submmited)" class="text-danger fs-12 font-weight-normal">Input is required</label>
            <!--<label *ngIf="t.newPassword.errors.pattern && (t.newPassword.invalid && t.newPassword.touched)" class="text-danger fs-12 font-weight-normal">Input is pattent</label>-->
          </div>
            <!--<div *ngIf="t.newPassword.invalid && submitted">
              <label *ngIf="t.newPassword.errors?.required " class="text-danger fs-12 font-weight-normal">input is required</label>
              <label *ngIf="t.newPassword.errors.pattern" class="text-danger fs-12 font-weight-normal">input is pattent</label>
            </div>-->
          </div> 
          <div class="form-group">
            <label class="fs-12">Confirm New Password</label>
            <input type="text" class="form-control" formControlName="confirmNewPassword" id="newPassword" autocomplete="off" />
          </div>
          <label class="fs-12 text-danger" *ngIf="!isCompare">New password did not match with confrim password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" (click)="changePassword()">Save</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="hideModel()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

