<div class="container-fluid">
  <div class="contentWrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <div class="card-header justify-header">
            <h6 class="m-0 font-weight-bold">Voucher Book List</h6>
            <button *ngIf="userRole.allowAdd" (click)="showModal(content)" class="btn-sm btn btn-secondary btn-sm"><i class="fa fa-plus"></i> Add New Voucher Book</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th width="3%">Id</th>
                    <th width="5%" title="Voucher Book No">VBN</th>
                    <th width="15%" title="Voucher Book Name">VBN</th>
                    <th width="12%" title="Voucher Type Name">VTN</th>
                    <th width="3%" title="Is Assigned">IA</th>
                    <th width="4%" title="No Of Leaves">NOL</th>
                    <th width="4%" title="No Of Pages">NOP</th>
                    <th width="7%" title="Valid From">VF</th>
                    <th width="7%" title="Valid To">VT</th>
                    <th width="4%" title="Book Amount Discount">BAD</th>
                    <th width="4%" title="Book Persentage Discount">BPD</th>
                    <th width="4%" title="No Of Total Leaves">NOTL</th>
                    <th width="4%" title="Entity Status">ES</th>
                    <th width="7%" title="Created On">CO</th>
                    <th width="7%" title="Created By">CB</th>
                    <th width="7%" title="Modified On">MO</th>
                    <th width="7%" title="Modified By">MB</th>
                    <th *ngIf="userRole.allowAdd" width="1%">Edit</th>
                    <th *ngIf="userRole.allowDelete" title="Delete" width="1%">Del</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of VoucherBookList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item?.voucherBookNo}}</td>
                    <td>{{item?.voucherBookName}}</td>
                    <td>{{item?.voucherTypeName}}</td>
                    <td>{{item?.isAssigned}}</td>
                    <td>{{item?.noOfLeaves}}</td>
                    <td>{{item?.noOfPages}}</td>
                    <td>{{item?.validFrom | date: "dd MMM yyy"}}</td>
                    <td>{{item?.validTo | date: "dd MMM yyy"}}</td>
                    <td>{{item?.bookLevelAmountDiscount}}</td>
                    <td>{{item?.bookLevelPersentageDiscount}}</td>
                    <td>{{item?.noOfTotalLeaves}}</td>
                    <td *ngIf="item?.active==1">Active</td>
                    <td *ngIf="item?.active==0">InActive</td>
                    <td>{{item?.createdOn | date: "dd MMM yyy"}}</td>
                    <td>{{item?.createdBy}}</td>
                    <td>{{item?.modifiedOn | date: "dd MMM yyy"}}</td>
                    <td>{{item?.modifiedBy}}</td>
                    <td *ngIf="userRole.allowAdd"><i class="text-info fa fa-pencil-alt" (click)="updateVoucherBook(item,content)"></i></td>
                    <td *ngIf="userRole.allowDelete"><i class="text-danger fa fa-trash-alt" (click)="deleteVoucherBook(item.voucherBookId)"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{modelText}}</h5>
  </div>
  <form [formGroup]="appValueForm" (submit)="saveAndUpdate()">
    <div class="modal-body">
      <div class="row">
        <!--<div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Voucher Book NO" formControlName="voucherBookNo" />
            <div *ngIf="f.voucherBookNo?.errors">
              <div *ngIf="f.voucherBookNo.invalid && submited">
                <small *ngIf="f.voucherBookNo.errors?.required" class="text-danger">Enter Voucher Book No</small>
              </div>
            </div>
          </div>
        </div>-->
        <div class="col-md-12" *ngIf="voucherBook">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Voucher Book Name" formControlName="voucherBookName" />
            <div *ngIf="f.voucherBookName?.errors">
              <div *ngIf="f.voucherBookName.invalid && submited">
                <small *ngIf="f.voucherBookName.errors?.required" class="text-danger">Enter Voucher Name</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="voucherType">
          <div class="form-group">
            <label class="fs-12">Select Voucher Type</label>
            <select formControlName="voucherTypeId" required class="form-control">
              <option [ngValue]="null" disabled>Select Voucher Type</option>
              <option *ngFor="let item of VoucherTypeList" value="{{item.voucherTypeId}}">{{item.voucherTypeName}}</option>
            </select>
            <div *ngIf="f.voucherTypeId?.errors">
              <div *ngIf="f.voucherTypeId.invalid && submited">
                <small *ngIf="f.voucherTypeId.errors?.required" class="text-danger">Select Voucher Type</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="noOfPages">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="NO OF Leaves" formControlName="noOfLeaves" />
            <div *ngIf="f.noOfLeaves?.errors"> 
              <div *ngIf="f.noOfLeaves.invalid && submited">
                <small *ngIf="f.noOfLeaves.errors?.required" class="text-danger">Enter No Of Leaves</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="noOfLeaves">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="NO OF Pages" formControlName="noOfPages" />
            <div *ngIf="f.noOfPages?.errors">
              <div *ngIf="f.noOfPages.invalid && submited">
                <small *ngIf="f.noOfPages.errors?.required" class="text-danger">Enter No Of Pages</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Valid From</label>
            <input type="date" id="fromDate" name="fromDate" class="form-control" formControlName="validFrom" /> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Valid To</label>
            <input type="date" id="toDate" name="toDate" class="form-control" formControlName="validTo" />
            <!--[(ngModel)]="toDate"-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="amountDiscount">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Book Amount Discount" formControlName="bookLevelAmountDiscount" />
            <!--<div *ngIf="f.bookLevelAmountDiscount?.errors">
              <div *ngIf="f.bookLevelAmountDiscount.invalid && submited">
                <small *ngIf="f.bookLevelAmountDiscount.errors?.required" class="text-danger">Enter book Level Amount Discount</small>
              </div>
            </div>-->
          </div>
        </div>
        <div class="col-md-6" *ngIf="amountPercentage">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Book Persentage Discount" formControlName="bookLevelPersentageDiscount" />
            <!--<div *ngIf="f.bookLevelPersentageDiscount?.errors">
              <div *ngIf="f.bookLevelPersentageDiscount.invalid && submited">
                <small *ngIf="f.bookLevelPersentageDiscount.errors?.required" class="text-danger">Enter Book Level Persentage Discount</small>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="voucherBookAssign">
          <div class="form-group">
            <label class="fs-12">Voucher Book Assigned</label>
            <input type="checkbox" class="form-control" formControlName="isAssigned"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Entity Status</label>
            <select formControlName="active" required class="form-control">
              <option [ngValue]="null" disabled>Select Entity Status</option>
              <option [value]="1">Active</option>
              <option [value]="0">InActive</option>
            </select>
            <div *ngIf="f.active?.errors">
              <div *ngIf="f.active.invalid && submited">
                <small *ngIf="f.active.errors?.required" class="text-danger">Select entity Status</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6 inline-downlod-btns">
          <button type="submit" class="btn btn-sm btn-primary mr-6" style="margin:5px">Save</button>
          <button type="reset" class="btn btn-sm btn-primary" (click)="resetForm()" style="margin:5px">Reset</button>
          <button type="submit" class="btn btn-primary btn-sm" (click)="modal.close('Save click')" style="margin:5px">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
