<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/Home"><i class="fas fa-home"></i>Home</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/PostAd/PostAd"><i class="fas fa-bullhorn"></i>Post Ad</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/ManageAd/Ads"><i class="far fa-list-alt"></i>Manage My Ads</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/Notifications/List"><i class="fa fa-receipt"></i>Notifications</a>
      </li>
      <!--<li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/Payments/List"><i class="fa fa-receipt"></i>Payments</a>
      </li>-->
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/Ratings/List"><i class="fas fa-star"></i>Ratings</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/Supplier/Profile/Profile"><i class="fas fa-user"></i>Profile</a>
      </li>
      <!--<li [routerLinkActive]="['active']">
        <a href=""><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>-->
    </ul>
  </div>
</div>
