<!--<toastr-notification></toastr-notification>
<ng4-loading-spinner [threshold]="10" [timeout]="400000" [template]="template" style="height:25px;width:25px"></ng4-loading-spinner>
<ng2-slim-loading-bar [color]="'#76ad05'" [height]="'6px'"></ng2-slim-loading-bar>
<ngx-spinner [fullScreen]="true" size="medium"
[template]="template">

</ngx-spinner>
<router-outlet (activate)="scrollTop($event)"></router-outlet>-->
<ngx-spinner [fullScreen]="true" size="medium"
             [template]="template" style="display:flex;align-items:center;justify-content:center">

</ngx-spinner>
<router-outlet></router-outlet>
<!--<toastr-notification></toastr-notification>-->
