<!--<h2>Device Information</h2>
{{ deviceInfo | json }}
<br>
<br>
<br>
<br>
<h2>Other functions</h2>
Am I mobile = {{isMobileDevice}}
<br>
<br>
Am I a tablet = {{isTabletDevice}}
<br>
<br>
Am I a Desktop = {{isDesktopDevice}}


{{browserInfo}}

{{osInfo}}-->


<div class="">
  <div class="modal-xl">
    <div class="modal-header flex-column">
      <h5 class="text-primary">Logged User Device Information</h5>
    </div>
    <div class="modal-body" style="width:100%;">
      <h6 class="btn-primary py-1 pl-2"> Device Information</h6>
      <div class="row modal-primary-user-info">
        <div class="col-12 col-xl-12 puser-info">
          <div class="row">
            <div class="col-xl-4 font-weight-bold">
              <label>IP Address</label>
              <label>userAgentInfo</label>
              <label>Operating System</label>
              <label>Operating System Version</label>
              <label>Browser</label>
              <label>Browser Version</label>
              <label>Mobile Device</label>
              <label>Tablet Device</label>
              <label>Desktop Device</label>
            </div>
            <div class=" col-xl-8">
              <label>{{ipAddress}}&nbsp;&nbsp;<i class="fas fa-eye" (click)="showModal(geoLocationModal)"></i></label>
              <label>{{userAgentInfo}}</label>
              <label>{{osInfo}}</label>
              <label>{{osVersionInfo}}</label>
              <label>{{browserInfo}}</label>
              <label>{{browserVersionInfo}}</label>
              <label>{{isMobileDevice}}</label>
              <label>{{isTabletDevice}}</label>
              <label>{{isDesktopDevice}}</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<ng-template #geoLocationModal let-modal>
  <div class="">
    <div class="modal-lg">
      <div class="modal-header flex-column">
        <h5 class="text-primary"></h5>
      </div>
      <div class="modal-body" style="width:100%;">
        <h6 class="btn-primary py-1 pl-2">Geo Location Information</h6>
        <div class="row modal-primary-user-info">
          <div class="col-12 col-xl-12 puser-info">
            <div class="row">
              <div class="col-6 font-weight-bold">
                <label>Continent Code</label>
                <label>Continent Name</label>
                <label>Country</label>
                <label>Country Capital</label>
                <label>Currency</label>
                <label>Currency Name</label>
                <label>Currency Symbol</label>
                <label>City</label>
                <label>District</label>
                <label>ISP </label>
              </div>
              <div class="col-6 ">
                <label>{{continentCode}}</label>
                <label>{{continentName}}</label>
                <label>{{countryName}}</label>
                <label>{{countryCapital}}</label>
                <label>{{currency}}</label>
                <label>{{currencyName}}</label>
                <label>{{currencysymbol}}</label>
                <label>{{city}}</label>
                <label>{{district}}</label>
                <label>{{isp}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>


