<div class="container-fluid">
  <div class="contentWrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-header bg-primary">
            <h6 class="mainTitle m-0 font-weight-bold border-0" data-toggle="collapse" href="#collapse6" aria-expanded="true">Filter WithdrawlRequest List</h6>
          </div>
          <div id="collapse6" class="contentWrapper fs-12 show">
            <div class="card-body">
              <form [formGroup]="appValForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12">User Id</label>
                      <input type="text" maxlength="20" formControlName="tradesmanId" class="form-control" (keypress)="service.numberOnly($event);" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="fs-12">Mobile Number</label>
                      <input type="text" maxlength="20" formControlName="phoneNumber" class="form-control" (keypress)="service.numberOnly($event);" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="userType"><small class="text-danger" style="font-size:12px">* </small>User Type:</label>
                    <select class="form-control" formControlName="userType" required (change)="selectChangeHandlerForUser($event)"
                             style="padding-top:2px;">
                      <option selected value="Customer">Customer</option>
                      <option value="Tradesman">Tradesman</option>
                      <option value="Supplier">Supplier</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4 inline-downlod-btns">
                    <button type="submit" class="btn btn-sm btn-primary mr-2" (click)="getAuthorizerList()">Search</button>
                    <button type="reset" class="btn btn-sm btn-primary" (click)="resetForm()">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <div class="card-header justify-header">
            <h6 class="m-0 font-weight-bold">{{userTypes}} Payment WithdrawlList List</h6>
            <div class="fa-pull-right d-flex ">
              <button class="btn-sm btn btn-secondary btn-sm" *ngIf="userRole.allowAdd" (click)="showModal(content)"><i class="fa fa-plus"></i> Add New Clearance Request</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th class="width3">Id</th>
                    <th *ngIf="role == ('Customer') || role == ''" class="width2">Customer Id</th>
                    <th *ngIf="role == ('Customer') || role == ''" class="width2">Customer Name</th>
                    <th *ngIf="role == ('Tradesman') || role == ''" class="width2">Tradesman Id</th>
                    <th *ngIf="role == ('Tradesman') || role == ''" class="width3">Tradesman Name</th>
                    <th *ngIf="role == ('Supplier') || role == ''" class="width3">Supplier Id</th>
                    <th *ngIf="role == ('Supplier') || role == ''" class="width3">Supplier Name</th>
                    <th class="width3">Phone Number</th>
                    <th class="width3">CNIC</th>
                    <th class="width3">Amount</th>
                    <th class="width3">Payment Status</th>
                    <th *ngIf="role == ('Supplier') || role == ''" class="width3">ID Front Image</th>
                    <th *ngIf="role == ('Supplier') || role == ''" class="width3">ID Back Image</th>
                    <!--<th class="width3">Created On</th>-->
                    <th class="width3">Created By</th>
                    <!--<th class="width3">Modified On</th>
                    <th class="width3">Modified By</th>-->
                    <th *ngIf="userRole.allowEdit" width="1%" title="Authorize">Authorize</th>
                    <th *ngIf="userRole.allowEdit" width="1%" title="Authorize">Decline</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of withdrawalRequestList ; let i=index">
                    <td>{{i+1}}</td>
                    <td *ngIf="role == ('Customer') || role == ''" >{{item?.customerId}}</td>
                    <td *ngIf="role == ('Customer') || role == ''" >{{item?.customerName}}</td>
                    <td *ngIf="role == ('Tradesman') || role == ''">{{item?.tradesmanId}}</td>
                    <td *ngIf="role == ('Tradesman') || role == ''">{{item?.tradesmanName}}</td>
                    <td *ngIf="role == ('Supplier') || role == ''">{{item?.supplierId}}</td>
                    <td *ngIf="role == ('Supplier') || role == ''">{{item?.supplierName}}</td>
                    <td>{{item?.phoneNumber}}</td>
                    <td>{{item?.cnic}}</td>
                    <td>{{item?.amount}}</td>
                    <td>{{item?.paymentStatusName}}</td>
                    <td *ngIf="role == ('Supplier') || role == ''">
                      <ng-container *ngIf="item?.idfrontImage;else noImage">
                        <img height="50" width="100" [src]="service.transform(item?.idfrontImage)" />
                      </ng-container>
                      <ng-template #noImage>
                        <img height="50" width="100" src="../../../assets/img/no_thumbnail.jpg" />
                      </ng-template>
                    </td>
                    <td *ngIf="role == ('Supplier') || role == ''"> 
                      <ng-container *ngIf="item?.idbackImage;else noImage">
                        <img height="50" width="100" [src]="service.transform(item?.idbackImage)" />
                      </ng-container>
                      <ng-template #noImage>
                        <img height="50" width="100" src="../../../assets/img/no_thumbnail.jpg" />
                      </ng-template>
                    </td>
                    <!--<td>{{item?.createdOn | date: "dd MMM yyyy" }}</td>-->
                    <td>{{item?.createdBy }}</td>
                    <!--<td>{{item?.modifiedOn | date: "dd MMM yyyy"}}</td>
                    <td>{{item?.modifiedBy }}</td>-->
                    <td *ngIf="userRole.allowEdit"><i class="fas fa-check-circle" (click)="ApprovePayment(item ,postJobModalConfirm)"></i>  </td>
                    <td *ngIf="userRole.allowEdit"><i class="fas fa-trash" (click)="declinePaymentRequest(item ,declineRequestModal)"></i>  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------- Show Modal For Confirmation -------------->
<ng-template #postJobModalConfirm let-d="dismiss">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title w-100">Are you sure to authorize payment request?</h4>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-primary" (click)="ConfirmJob()">Authorize </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="hidemodal1()">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<!------------- Show Modal For Authorization ----------------->
<ng-template #declineRequestModal let-d="dismiss" let-c="close">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title w-100">Are you sure to decline payment request?</h4>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-sm btn-primary" (click)="c('yes')">Authorize </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="d('no')">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<!------------- Show Modal For Add New WithDrawl Request  ----------------->
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add New  Clearance Request </h5>
  </div>
  <form [formGroup]="withdrawlRequestForm">
    <div class="modal-body">      
      <div class="row">
        <div ngbAutoFocus  class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Tradesman Id</label>
            <input type="text" formControlName="tradesmanId" class="form-control" maxlength="10" (keypress)="service.numberOnly($event);" />
            <div *ngIf="g.tradesmanId?.errors">
              <div *ngIf="g.tradesmanId.invalid && (g.tradesmanId.dirty || g.tradesmanId.touched)">
                <small class="text-danger" *ngIf="g.tradesmanId.errors?.required">Enter Tradesman Id</small>

              </div>
            </div>
            <small class="text-danger" *ngIf="userNotExist">Account Id not found.</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Tradesman Name</label>
            <input type="text" formControlName="tradesmanName" class="form-control" maxlength="50" (keypress)="service.omit_special_char($event);" />
            <div *ngIf="g.tradesmanName?.errors">
              <div *ngIf="g.tradesmanName.invalid && (g.tradesmanName.dirty || g.tradesmanName.touched)">
                <small class="text-danger" *ngIf="g.tradesmanName.errors?.required">Enter Tradesman Name</small>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Mobile Number</label>
            <input type="text" placeholder="03031234567" formControlName="phoneNumber" class="form-control" maxlength="11" (keypress)="service.numberOnly($event);" />
            <div *ngIf="g.phoneNumber?.errors">
              <div *ngIf="g.phoneNumber.invalid && (g.phoneNumber.dirty || g.phoneNumber.touched)">
                <small class="text-danger" *ngIf="g.phoneNumber.errors?.required">Enter valid 11 digits Mobile Number</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">CNIC</label>
            <input type="text" placeholder="35202123456789" formControlName="cnic" class="form-control" maxlength="13" (keypress)="service.numberOnly($event);" />
            <div *ngIf="g.cnic?.errors">
              <div *ngIf="g.cnic.invalid && (g.cnic.dirty || g.cnic.touched)">
                <small class="text-danger" *ngIf="g.cnic.errors?.required">Enter valid 13 digits CNIC </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-12">Amount</label>
            <input type="text" formControlName="amount" class="form-control" maxlength="10" (keypress)="service.numberOnly($event);" />
            <div *ngIf="g.amount?.errors">
              <div *ngIf="g.amount.invalid && (g.amount.dirty || g.amount.touched)">
                <small class="text-danger" *ngIf="g.amount.errors?.required">Enter Withdrawal Amount</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-6 inline-downlod-btns">
          <button type="submit" class="btn btn-sm btn-primary mr-6" style="margin:5px" [disabled]="!withdrawlRequestForm.valid" (click)="addAndClearanceWithdrawlRequest()">Save</button>
          <!--<button type="reset" class="btn btn-sm btn-primary" (click)="resetLedgerForm()" style="margin:5px">Reset</button>-->
          <button type="submit" class="btn btn-primary btn-sm" (click)="modal.close('Save click')" style="margin:5px">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

