<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="liveleads.html"><i class="fas fa-list-ul"></i>Live leads</a>
      </li>
      <li>
        <a href="mybids.html"><i class="fas fa-gavel"></i>My Bids</a>
      </li>
      <li class="active">
        <a href="myjobs.html"><i class="fas fa-handshake"></i>My Jobs</a>
      </li>
      <li>
        <a href="invoice.html"><i class="fa fa-receipt"></i>Invoice</a>
      </li>
      <li>
        <a href="profile.html"><i class="fas fa-user"></i>Profile</a>
      </li>
      <li>
        <a href="index.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
      </li>
    </ul>
  </div>
</div>
