<div class="container-fluid">
  <div class="contentWrapper">
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow mb-4">
          <div class="card-header justify-header">
            <h6 class="m-0 font-weight-bold">Commission</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fs-12">Title</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="fs-12">Commission In Number </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 inline-downlod-btns">
                <button class="btn btn-sm btn-primary mr-2">Save</button>
                <button class="btn btn-sm btn-primary">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow mb-4">
          <div class="card-header justify-header">
            <h6 class="m-0 font-weight-bold">Commission List</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Skill Name</th>
                    <th>Image</th>
                    <th width="2%">Status</th>
                    <th width="1%" title="Order By">OB</th>
                    <th width="10%" title="Created Date">CD</th>
                    <th width="10%" title="Created By">CB</th>
                    <th width="10%" title="Modified Date">MD</th>
                    <th width="10%" title="Modified By">MB</th>
                    <th width="1%">Edit</th>
                    <th title="Delete" width="1%">Del</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
